maven-plugin/tests/MAVEN_JAXB2_PLUGIN-69/src/main/resources/simple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://aremplacer.dopasys/schemas/simple" xmlns:tns="http://aremplacer.dopasys/schemas/simple" elementFormDefault="qualified">

    <element name="OneRootElement" type="tns:RootElementType"></element>

    <complexType name="RootElementType">
    	<sequence>
    		<element name="id" type="int" maxOccurs="1" minOccurs="1"></element>
    		<element name="label" type="string" maxOccurs="1" minOccurs="1"></element>
    		<element name="date" type="dateTime" maxOccurs="1" minOccurs="0"></element>
    	</sequence>
    </complexType>
</schema>
