basics/tests/superclass/b/src/main/resources/schema.xsd

<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="b"
	xmlns:b="b"
	elementFormDefault="qualified">

	<xsd:element name="AnotherObject" type="b:AnotherObjectType"/>

	<xsd:complexType name="AnotherObjectType">
		<xsd:sequence>
			<xsd:element name="data" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>