maven-plugin/tests/MAVEN_JAXB2_PLUGIN-77/service/src/main/resources/META-INF/project/schemas/Service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://company.com/project/schemas/service"
	xmlns:service="http://company.com/project/schemas/service"
	xmlns:common="http://company.com/project/schemas/common-types"
	xmlns:iso4217="http://company.com/project/schemas/iso/currency"
	elementFormDefault="qualified">

	<xs:import namespace="http://company.com/project/schemas/common-types"/>
	<xs:import namespace="http://company.com/project/schemas/iso/currency"/>

	<xs:complexType name="ServiceRequest">
		<xs:sequence>
			<xs:element name="amount" type="common:Amount" />
			<xs:element name="currency_code" type="iso4217:ISOCurrencyCodeType" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
