jaxb-annotate-parent/tests/annotatepackage/src/main/resources/BaseTypes.xsd

<xsd:schema
  xmlns="http://example.org/base/1"
  targetNamespace="http://example.org/base/1"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb"
	jaxb:version="3.0">

	<xsd:complexType name="baseAType">
		<xsd:sequence>
			<xsd:element name="bar" type="xsd:string"/>
			<xsd:element name="foobar" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="baseBType">
		<xsd:sequence>
			<xsd:element name="foo" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
