tests/gh-issue-23/two-non-strict/src/main/resources/one/b1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:b" elementFormDefault="qualified"
	xmlns:b="urn:b">

	<element name="b1" type="b:B1Type"/>
	<complexType name="B1Type">
		<sequence>
			<element name="s" type="string"/>
		</sequence>
	</complexType>
</schema>
