maven-plugin/tests/MAVEN_JAXB2_PLUGIN-77/common-types/src/main/resources/META-INF/project/schemas/CommonTypes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://company.com/project/schemas/common-types"
	xmlns:common="http://company.com/project/schemas/common-types"
	xmlns:iso4217="http://company.com/project/schemas/iso/currency"
	elementFormDefault="qualified">

	<xs:import namespace="http://company.com/project/schemas/iso/currency"
		schemaLocation="ISOCurrencyCodeType-V2008.xsd" />

	<xs:complexType name="Amount">
		<xs:sequence>
			<xs:element name="currency_code" type="iso4217:ISOCurrencyCodeType" />
			<xs:element name="value" type="xs:decimal" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>
