hyperjaxb/ejb/tests/star/src/main/resources/STAR/Rev5.1.4/BODs/Standalone/RespondPersonnel.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" xmlns:oagis="http://www.openapplications.org/oagis/9" xmlns:star="http://www.starstandard.org/STAR/5" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
    <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../../Resources/Components/Common/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../../Resources/Components/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/codelists" schemaLocation="../../Resources/Components/OAGIS/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/currencycode/54217:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_CurrencyCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/languagecode/5639:1988" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_LanguageCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/IANAMIMEMediaTypes:2003" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_MIMEMediaTypeCode_IANA_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unitcode/66411:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_UnitCode_UNECE_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../Resources/Components/OAGIS/Common/Components.xsd" />
    <xsd:element name="Access" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Access information, expressed as text, for the mode of communication such as 9 or *70 for a telephone network.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AddressID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A unique identifier for this address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AddressType" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A code specifying the type of this address such as business address or home address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AddressUpdateDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A date and time that the Address was last updated.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AgeMeasure" type="sqdt:TimeMeasureType">
        <xsd:annotation>
            <xsd:documentation>The numeric value of a person or parties age.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AgencyRoleCode" type="sqdt:AgencyRoleCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The agency role that defined the Document ID. An example of an agency may be a manufacturer, a retail system provider, etc. This list does not contain specific entity names, only roles. See enumerated list.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Alias" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Another name that a person is also known.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlternateDocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An alternate identification that uniquely identifies this document in addition to the Document ID, e.g., Part Order Number, Parts Purchase Order Number or Parts Invoice Number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlternatePartyDocument" type="DocumentABIEType">
        <xsd:annotation>
            <xsd:documentation>An alternate collection of data for a piece of written, printed, or electronic matter that provides information or evidence of a party.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicationArea" type="ApplicationAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AreaNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AreaNumberCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The code specifying the area number typically used in communication. This is also known in the US as the Area Code.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AttentionOf" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The person or business entity that the information should be sent.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuthorizationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AvailablePeriod" type="PeriodABIEType">
        <xsd:annotation>
            <xsd:documentation>A specific period of time such as the length of time between two known date/time points, from a start date onwards, or up to an end date of when something is avaialble..</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BirthDate" type="udt:DateType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Birth date of party</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BODID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build the following services or capabilities: 1. Legally binding transactions, 2. Transaction logging, 3. Exception handling, 4. Re-sending, 5. Reporting, 6. Confirmations, 7. Security.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BuildingName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The name, expressed as text, of a building, a house or other structure on a street at this address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BuildingNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number, expressed as text, of a building or house on a street at this address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CareOf" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Used to send mail to someone at someone else's address</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ChannelCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The code specifying the channel or manner in which a communication can be made, such as telephone or email.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CityName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A textual representation of a City</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CitySub-DivisionName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A textual representation of the City Sub-Division Name</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CompleteDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date, time, date time or other date time value for a complete period of time expressed as a specific month, a specific week etc. type code for a particular Bulletin.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CompleteNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The text string of characters that make up the complete number for this communication.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ComponentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides a finer level of control than Logical Identifier and represents the business application that issued the Business Object Document. Its use is optional. The Open Applications Group has not constructed the list of valid Component names. A suggestion for naming is to use the application component names used in the scenario diagrams in section two of OAGIS. Example Components may be Inventory, or Payroll.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ConfirmationCode" type="scl:ConfirmationEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Confirmation</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ContactMethodTypeCode" type="sqdt:ContactMethodTypeCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the preferred method of contact.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CountryID" type="sqdt:CountryCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A unique country identifier.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CountryNumberCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The country access code for this communication number such as 44, 1, 353 etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CountyCountrySub-Division" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A county or other regional jurisidication within a country, state, or province</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreationDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreatorNameCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerCountryCode" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerTargetCountry" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeliverPendingMailIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Destination" type="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftware" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftwareCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationURI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date and time that the event being documented, for example the Parts Order, occurred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The DocumentID is the identifier for the document. This identifier is a GUID or other unique identifier set by the creator of the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentificationGroup" type="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentType" type="sqdt:AssigningOrganizationPartyIdType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A code specifying the agency type issuing the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DurationMeasure" type="sqdt:TimeMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The measure of the length of time for this time period such as hours, days, weeks, months, years.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EffectivePeriod" type="PeriodABIEType">
        <xsd:annotation>
            <xsd:documentation>A specific period of time such as the length of time between two known date/time points, from a start date onwards, or up to an end date of when something is effective.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EmployeePerson" type="EmployeePersonType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An employee of a dealership, or other organization.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EndDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A date, time, date time or other date time value which specifies the end of this period of time.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ExtensionNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The extension number, expressed as text, assigned to this communication number to enable a caller to reach a specific party.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FamilyName" type="udt:NameType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FaxCommunication" type="CommunicationABIEType">
        <xsd:annotation>
            <xsd:documentation>Fax communication includes fax number or mailto address</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FloorIdentification" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The identification by name or number, expressed as text, of the floor in a building as part of an address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GenderCode" type="scl:GenderEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Gender of party - M = Male, F= Female</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GivenName" type="udt:NameType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HireDate" type="udt:DateType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date that an individual was hired.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="HTMLPreferredIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The indication of whether or not HTML format is preferred by the recipient for email communications. Usually sent in Communication components when ChannelCode is Telephone and the URIID has a mailto: email address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InclusiveIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The indication of whether or not the start and end dates are included in this period.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IssuingName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An issuing name for this document like a state, or other agency.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LanguageCode" type="sqdt:LanguageCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LineFive" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A free formatted text line, typically used to by an address</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LineFour" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A free formatted text line, typically used to by an address</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LineOne" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A free formatted text line, typically used to by an address</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LineThree" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A free formatted text line, typically used to by an address</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LineTwo" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A free formatted text line, typically used to by an address</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocalNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The communication number, expressed as text and not including country access code or the area number code, for this communication.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code identifying a physical location</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LogicalID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the logical location of the server and applications from which the Business Object Document originated. It can be used to establish a logical to physical mapping, however its use is optional. Each system or combination of systems should maintain an external central reference table containing the logical names or logical addresses of the application systems in the integration configuration. This enables the logical names to be mapped to the physical network addresses of the resources needed on the network. Note: The technical implementation of this Domain Naming Service is not dictated by this specification. This logical to physical mapping may be done at execution time by the application itself or by a middleware transport mechanism, depending on the integration architecture used. This provides for a simple but effective directory access capability while maintaining application independence from the physical location of those resources on the network</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MaidenName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation>The family name for a woman before she was married.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MaritalStatusCode" type="scl:MaritalStatusEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies marital status of business party - M = Married, U = Unmarried, S = Separated, O = Other</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MiddleName" type="udt:NameType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Middle Initial of business party</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NameSuffix" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A word or phrase added to the end of a name</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NationalityCountryID" type="sqdt:CountryCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The ISO Country Codelist used to indicate a person's nationality.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NounCountNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number of nouns that are included in the BOD.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OpenIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The indication of whether or not an entity is open during this period.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="OriginalApplicationArea" type="ApplicationAreaType">
        <xsd:annotation>
            <xsd:documentation>A copy of the ApplicationArea for the original BOD that was processed. Present either as additional reference information, or for use in identifying the BOD in situations where a BODReference is not known.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Party identification number used to uniquely identify a party for example Dealer ID, Fleet, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Password" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Personnel" type="PersonnelType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Personnel</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonnelDetail" type="PersonnelDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Personnel Detail</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PersonnelHeaderBase" type="PersonnelHeaderBaseType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Personnel Header</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Postcode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A code specifying the postcode of the address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PostOfficeBox" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The unique identifier, expressed as text, of a container commonly referred to as a box, in a post office or other postal service location, assigned to a person or organization, where postal items may be kept for this address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PreferredIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The indication of whether or not this preference is the preferred option.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PreferredLanguageCode" type="sqdt:LanguageCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Preferred language</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PreferredName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation>A name that a person preferrs to be known.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PriorityRankingNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number of the priority ranking of this preference.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Privacy" type="PrivacyType">
        <xsd:annotation>
            <xsd:documentation>Any privacy rights the party has subscribed to or opted out of.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PrivacyIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicator to note that Business Party has requested to share or to not share information with third parties.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PrivacyTypeString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code identifying a Party's authorized privacy rights.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ReferenceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created. This allows drill back from the BOD message into the sending application. The may be required in environments where an audit trail must be maintained for all transactions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ResidenceAddress" type="AddressABIEType">
        <xsd:annotation>
            <xsd:documentation>The location at which a particular person may be found or reached.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Respond" type="RespondType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9.0">The Respond verb is used to communicate relative to another document. It may be used to communicate agreement, questions, answers to a question, or disagreement with the related document. An example is the RequestForQuote and Quote document pair. An RequestForQuote is issued to a set of business partners. If one of the partners needs clarification on an item, a RespondRequestForQuote is sent to the originating partner.</xsd:documentation>
            <xsd:documentation>The OAGIS Meta Data documentation has more information in regards to this verbs usage and structure.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RespondPersonnel" type="RespondPersonnelType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Respond Personnel</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RespondPersonnelDataArea" type="RespondPersonnelDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Respond Personnel Data Area</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Salutation" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A word or phrase of greeting used to begin a letter or message.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryDealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryPassword" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Secondary password used to validate access to the dealer information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Sender" type="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SenderNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Service Id field identifies the particular service to or from which a message is being sent, e.g., an inventory service.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceMessageID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SpecifiedPerson" type="PersonType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies a specific individual or person.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StartDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date, time, date time or other date time value for the start of this period of time.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StateOrProvinceCountrySub-DivisionID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A unquie identifer that identifies a state or province within a country. For the US this would typically be the two letter state abbreviation or name.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StoreNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StreetName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The name, expressed as text, of a street or thoroughfare.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SystemVersion" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TaskID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Describes the business event that initiated the need for the Business Object Document to be created. Its use is optional. Although the Task may differ depending on the specific implementation, it is important to enable drill back capability. Example Tasks may be Receipt or Adjustment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TelephoneCommunication" type="CommunicationABIEType">
        <xsd:annotation>
            <xsd:documentation>Telephone Communication information like phone number</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Title" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A general or descriptive heading given to a person, or item.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UnavailablePeriod" type="PeriodABIEType">
        <xsd:annotation>
            <xsd:documentation>A specific period of time such as the length of time between two known date/time points, from a start date onwards, or up to an end date of when something is unavailable.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="URI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="URICommunication" type="CommunicationABIEType">
        <xsd:annotation>
            <xsd:documentation>Email or web communication</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="URIID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The unique identifier of the Uniform Resource Identifier (URI) for this communication such as an email address.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UsagePreference" type="PreferenceABIEType">
        <xsd:annotation>
            <xsd:documentation>Precedence, advantage, or choice of one person or thing over another.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UseCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The code specifying the use of this communication such as for business purposes or private. Such as Home, Work, Cell, Day, Evening, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PersonnelHeaderBaseType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Personnel Header information</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
<!--    <xsd:element ref="DocumentID" minOccurs="0" /> -->
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HeaderBaseType">
        <xsd:sequence>
            <xsd:element ref="DocumentDateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Is the date and time the document was last created. This is not the date and time that the BOD message instance was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="SecondaryPassword" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Secondary password used to validate access to the dealer information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="SecondaryDealerNumberID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DocumentIdentificationGroup" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A list of identifications related to a particular document.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DocumentIdentification" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="AlternateDocumentIdentification" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>An identifer for this document</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DocumentID" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="AgencyRoleCode" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonnelDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Personnel Detail information</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="EmployeePerson" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EmployeePersonType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An employee of a dealership, or other organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="AlternatePartyDocument" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="SpecifiedPerson" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="HireDate" minOccurs="0" />
            <xsd:element ref="PreferredLanguageCode" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentABIEType">
        <xsd:annotation>
            <xsd:documentation>A collection of data for a piece of written, printed or electronic matter that provides information or evidence.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DocumentID" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="DocumentType" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="IssuingName" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="EffectivePeriod" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The period which this document is effective</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PeriodABIEType">
        <xsd:annotation>
            <xsd:documentation>A specific period of time such as the length of time between two known date/time points, from a start date onwards, or up to an end date.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DurationMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="InclusiveIndicator" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="StartDateTime" minOccurs="0" />
            <xsd:element ref="EndDateTime" minOccurs="0" />
            <xsd:element ref="CompleteDateTime" minOccurs="0" />
            <xsd:element ref="OpenIndicator" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PersonType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Person component is based off the UNCEFACT Person Core Component</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ID" minOccurs="0" />
            <xsd:element ref="GivenName" minOccurs="0" />
            <xsd:element ref="Alias" minOccurs="0" />
            <xsd:element ref="MiddleName" minOccurs="0" />
            <xsd:element ref="FamilyName" minOccurs="0" />
            <xsd:element ref="Title" minOccurs="0" />
            <xsd:element ref="Salutation" minOccurs="0" />
            <xsd:element ref="NameSuffix" minOccurs="0" />
            <xsd:element ref="MaritalStatusCode" minOccurs="0" />
            <xsd:element ref="GenderCode" minOccurs="0" />
            <xsd:element ref="BirthDate" minOccurs="0" />
            <xsd:element ref="AgeMeasure" minOccurs="0" />
            <xsd:element ref="MaidenName" minOccurs="0" />
            <xsd:element ref="PreferredName" minOccurs="0" />
            <xsd:element ref="ResidenceAddress" minOccurs="0" />
            <xsd:element ref="TelephoneCommunication" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="FaxCommunication" minOccurs="0" />
            <xsd:element ref="URICommunication" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="NationalityCountryID" minOccurs="0" />
            <xsd:element ref="ContactMethodTypeCode" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AddressABIEType">
        <xsd:annotation>
            <xsd:documentation>A common address format.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="AddressID" minOccurs="0" />
            <xsd:element ref="AddressType" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A code specifying the type of this address such as business address or home address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AttentionOf" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="CareOf" minOccurs="0" maxOccurs="unbounded" />
            <xsd:choice>
                <xsd:sequence id="Structured">
                    <xsd:element ref="LineOne" minOccurs="1" />
                    <xsd:element ref="LineTwo" minOccurs="0" />
                    <xsd:element ref="LineThree" minOccurs="0" />
                    <xsd:element ref="LineFour" minOccurs="0" />
                    <xsd:element ref="LineFive" minOccurs="0" />
                </xsd:sequence>
                <xsd:sequence id="Unstructured">
                    <xsd:element ref="BuildingNumber" minOccurs="0" />
                    <xsd:element ref="BuildingName" minOccurs="0" />
                    <xsd:element ref="StreetName" minOccurs="0" />
                    <xsd:element ref="FloorIdentification" minOccurs="0" />
                    <xsd:element ref="PostOfficeBox" minOccurs="0" />
                </xsd:sequence>
            </xsd:choice>
            <xsd:element ref="CitySub-DivisionName" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>A textual representation of the City Sub-Division Name of the Address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="CityName" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A textual representation of the City of the Address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="CountryID" minOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A unique country identifier of this Address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Postcode" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A code specifying the Post Code for this Address.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="StateOrProvinceCountrySub-DivisionID" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>StateOrProvince</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="CountyCountrySub-Division" minOccurs="0" />
            <xsd:element ref="AddressUpdateDateTime" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CommunicationABIEType">
        <xsd:annotation>
            <xsd:documentation>The exchange of thoughts, messages, or information, as by speech, signals, writing, or behaviour between persons and/or organizations.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="URIID" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="ChannelCode" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="LocalNumber" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="CompleteNumber" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="CountryNumberCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="ExtensionNumber" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="AreaNumberCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="Access" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="UseCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="HTMLPreferredIndicator" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="UsagePreference" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The preference for the usage of this communication method.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Privacy" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">This is used to indicate the various privacy types for this communication. If appearing within a Party component, then this option overrides the Privacy types specified at the Party component for this communication.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PreferenceABIEType">
        <xsd:annotation>
            <xsd:documentation>Precedence, advantage, or choice of one person or thing over another. Justification: definition of object class.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="PriorityRankingNumeric" minOccurs="0" />
            <xsd:element ref="PreferredIndicator" minOccurs="0" />
            <xsd:element ref="UnavailablePeriod" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A period when a preference is not available.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AvailablePeriod" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>A period when a preference is available.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PrivacyType">
        <xsd:sequence>
            <xsd:element ref="PrivacyIndicator" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indicator to note that Business Party has requested to share or to not share information with third parties</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="PrivacyTypeString" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Code identifying a Party's authorized privacy rights. (i.e., Financial, Demographics, etc.)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RespondPersonnelType">
        <xsd:annotation>
            <xsd:appinfo>STAR unique BOD</xsd:appinfo>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Respond Personnel</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BusinessObjectDocumentType">
                <xsd:sequence>
                    <xsd:element ref="RespondPersonnelDataArea" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessObjectDocumentType">
        <xsd:annotation>
            <xsd:documentation>Is the schema based inheritance for all BODs. The logical model would also include the DataArea.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ApplicationArea">
                <xsd:annotation>
                    <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="releaseID" type="udt:string" use="required">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9.0">STAR Release this BOD Instances belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="versionID" type="udt:string" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.starstandard.org">Deprecated. Recommended to use releaseID to identify the repository and noun. This field may be removed in the next major version of the STAR repository.</xsd:documentation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the version of the given BOD defintion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="systemEnvironmentCode" type="oacl:SystemEnvironmentCodeContentType" use="optional" default="Production">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates whether this BOD is being sent in a "Test" or a "Production" mode. If the BOD is being sent in a test mode, it's information should not affect the business operation. However, if the BOD is sent in "Production" mode it is assumed that all test has been complete and the contents of the BOD are to affect the operation of the receiving business application(s).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageCode" type="scl:LanguageEnumeratedType" use="optional" default="en-US">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the language that the contents of the BOD is in unless otherwise stated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="ApplicationAreaType">
        <xsd:sequence>
            <xsd:element ref="Sender">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="CreationDateTime">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is used as the creation moment of this Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="oagis:Signature" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">If the BOD is to be signed the signature element is included, otherwise it is not. Signature supports any digital signature that maybe used by an implementation of OAGIS. The qualifyingAgency identifies the agency that provided the format for the signature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="BODID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build services or capabilities:</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Destination">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This identifies characteristics and control identifiers that relate to the application that receives the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SenderBaseType">
                <xsd:sequence>
                    <xsd:element ref="CreatorNameCode">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">DCS Software Creator Code</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="SenderNameCode">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="URI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Physical address of the sender</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="DealerNumberID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer Code of source of information</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="StoreNumber" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code store number (DMS assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="AreaNumber" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="DealerCountryCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Source Dealer country location</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="LanguageCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">This code is used to define the language of the data used in this transaction</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="DeliverPendingMailIndicator" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Indicates if the user requests to receive pending mail that has been stored and has yet not been delivered yet. By selecting 0, the user will only receive the response for the current transaction the user is performing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="Password" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Token for application specific authentication. Used to authenticate dealership/users through application specific security</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="SystemVersion" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The sender's software version number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="PartyID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Party Id field uniquely identifies the Sender of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="LocationID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Location Id field uniquely identifies the location of the Sender of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="ServiceID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Service Id field identifies the particular service from which a message is being sent, e.g., an inventory service.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="NounCountNumeric" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SenderBaseType">
        <xsd:annotation>
            <xsd:documentation>Identifies the sender of the given BOD instance</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LogicalID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is the logical location of the server and application from which the Business Object Document originated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ComponentID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">DCS software code name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="TaskID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This describes the business event that initiated the need for the Business Object Document to be created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ReferenceID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created.&#195;&#130;&#194;&#160; This is used to correlate a response BOD to an originating BOD. *The Sender of the originating application will populate the Reference Id with business level information. *Reference ID does not have to be a GUID. It must be a locally unique application value for the transaction type, for example a database sequence number. *The receiving application puts the value in Reference ID of the incoming message in the Reference ID of any acknowledgement messages. *The Reference Id will not be required to tie two collaborations together such as Parts Order and Parts Shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ConfirmationCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation />
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AuthorizationID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">dentifies the authorization level of the user or application that is sending the Business Object Document Message. Used as User ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DestinationNameCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DestinationURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Physical address of the destination</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DestinationSoftwareCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Additional information about the destination application</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DestinationSoftware" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">For which software destination file is intended (may not be known).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DealerNumberID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer Code receiving information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="StoreNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code store number (DMS assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AreaNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DealerTargetCountry" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer country location</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="PartyReceiverID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Party Receiver Id field uniquely identifies the Receiver of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="LocationReceiverID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Location Receiver Id field uniquely identifies the location of the Receiver of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ServiceMessageID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Service Message Id field identifies the particular service to which a message is being sent, e.g., an inventory service.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RespondPersonnelDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Respond Personnel Data Area</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Respond" />
            <xsd:element ref="Personnel" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RespondType">
        <xsd:annotation>
            <xsd:documentation>The OAGIS Meta Data documentation has more information in regards to this verbs usage and structure.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="ResponseVerbType" />
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ResponseVerbType" abstract="true">
        <xsd:complexContent>
            <xsd:extension base="oagis:VerbType">
                <xsd:sequence>
                    <xsd:element ref="OriginalApplicationArea" minOccurs="0" />
                    <xsd:element ref="oagis:ResponseCriteria" minOccurs="0" maxOccurs="unbounded">
                        <xsd:annotation>
                            <xsd:documentation>ResponseCriteria identifies the content that is returned, given a Get query success or the response from the Process. In essence, the expression here has the effect of filtering the part(s) of the found element(s) that are to be returned. ReturnCriteria plays no role in the query itself or the process. That is handled as a match against the request BOD's noun exemplar. ReturnCriteria allows the sender of the BOD to indicate which information (down to the field level) is requested to be returned, given that the query has been successful in matching the exemplar to existing nouns. That is, in a GetListPurchaseOrder, if one or more PurchaseOrders with a TotalPrice = $1M were found, ReturnCriteria tells the BOD recipient which parts of the PurchaseOrder should be populated with content when the response (ShowPurchaseOrder) is formulated. The expressionLanguage indicates the expression language being used. In order for the ReturnCriteria expression to be evaluable by the BOD recipient, the recipient must be capable of processing and interpreting the specified expression language. XPath is the default, due to its ubiquity among XML processing technologies.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PersonnelType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.0 - Draft</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="PersonnelHeaderBase" />
            <xsd:element ref="PersonnelDetail" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
