hyperjaxb/ejb/tests/star/src/main/resources/STAR/Rev5.1.4/BODs/Standalone/SyncInitiativeDownload.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns="http://www.starstandard.org/STAR/5" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" xmlns:oagis="http://www.openapplications.org/oagis/9" xmlns:star="http://www.starstandard.org/STAR/5" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
    <xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../../Resources/Components/Common/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../../Resources/Components/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/codelists" schemaLocation="../../Resources/Components/OAGIS/Common/CodeLists.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/currencycode/54217:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_CurrencyCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/languagecode/5639:1988" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_LanguageCode_ISO_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/IANAMIMEMediaTypes:2003" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_MIMEMediaTypeCode_IANA_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9/unitcode/66411:2001" schemaLocation="../../Resources/Components/OAGIS/CoreComponents/CodeList_UnitCode_UNECE_7_04.xsd" />
    <xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../../Resources/Components/OAGIS/Common/Components.xsd" />
    <xsd:element name="AgencyRoleCode" type="sqdt:AgencyRoleCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The agency role that defined the Document ID. An example of an agency may be a manufacturer, a retail system provider, etc. This list does not contain specific entity names, only roles. See enumerated list.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlternateDocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">An alternate identification that uniquely identifies this document in addition to the Document ID, e.g., Part Order Number, Parts Purchase Order Number or Parts Invoice Number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AlternatorOutputMeasure" type="sqdt:ElectricityMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The amount of current in amps that the alternator can supply.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ApplicationArea" type="ApplicationAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AreaNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AuthorizationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="AxleCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The code on the axle of the vehicle.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BatterySizeRequirementsMeasure" type="sqdt:ElectricityMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Battery size required to start the engine in CCA (Cold Cranking Amps).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BoatEngineLocationCode" type="sqdt:BoatEngineLocationCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Defines the location on the boat that the engine can be mounted.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BoatEngineTypeCode" type="scl:BoatEngineTypeEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Type of engine on or for a boat.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BODID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build the following services or capabilities: 1. Legally binding transactions, 2. Transaction logging, 3. Exception handling, 4. Re-sending, 5. Reporting, 6. Confirmations, 7. Security.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BodyStyle" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Manufacturer-assigned vehicle body style</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="BoreMeasure" type="sqdt:LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The size of the engine piston / cylinder.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Chassis" type="ChassisType">
        <xsd:annotation>
            <xsd:documentation>A general term that refers to all of the mechanical parts of a car attached to a structural frame. In cars with unitized construction, the chassis comprises everything but the body of the car.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ChassisMake" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Make of chassis.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ChassisModel" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Model of chassis.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ColorCodeChangeIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates whether or not the color code (e.g., Interior Color Code, Exterior Color Code) can be changed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ColorDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Description of a color.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ColorGroup" type="ColorGroupType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ColorItemCode" type="scl:ColorItemEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies the item for which color is being described.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ColorName" type="udt:NameType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The name of a color, e.g. Hawthorn Green.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ComponentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides a finer level of control than Logical Identifier and represents the business application that issued the Business Object Document. Its use is optional. The Open Applications Group has not constructed the list of valid Component names. A suggestion for naming is to use the application component names used in the scenario diagrams in section two of OAGIS. Example Components may be Inventory, or Payroll.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CompressionPressureMeasure" type="sqdt:PressureMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Pressure in the cylinder when the engine is running at 240-300 rpm</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Condition" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Condition of Vehicle - Example: Excellent, Good, Fair, Poor, Unknown</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ConfirmationCode" type="scl:ConfirmationEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Confirmation</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CoolingSystem" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">System used to cool the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreationDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CreatorNameCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CurrentDrawMeasure" type="sqdt:ElectricityMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Current required to run the electric motor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="CylinderConfigurationCode" type="scl:CylinderConfigurationEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the way the engine cylinder is configured.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerCountryCode" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DealerTargetCountry" type="scl:CountryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DeliverPendingMailIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Destination" type="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftware" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationSoftwareCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DestinationURI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DetailedEngineDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detailed descriptive text used to describe the engine. This field provides more detail than the GeneralEngineDescription field.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DistributorModelCode" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Alternate model code, usually used for vehicle ordering</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentDateTime" type="udt:DateTimeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date and time that the event being documented, for example the Parts Order, occurred.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The DocumentID is the identifier for the document. This identifier is a GUID or other unique identifier set by the creator of the document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentification" type="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DocumentIdentificationGroup" type="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A group of identifications that uniquely identifies this document</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DoorsQuantityNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Number of doors on vehicle</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DriveSerialString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Drive serial number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DriveTrain" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates whether the vehicle is 2 or 4 wheel drive (ie: 2WD, 4WD, 4x4, 4x2)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DriveTransmissionDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Text description of the transmission.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DriveTypeCode" type="scl:DriveTypeEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Designates vehicle drive type</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="DryWeightMeasure" type="sqdt:WeightMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the weight of the item when all fluids are empty.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EffectiveMeanPressureMeasure" type="MeasurementType">
        <xsd:annotation>
            <xsd:documentation>
                <xsd:documentation>The mean effective pressure (MEP) is the average pressure exerted on the piston during each power stroke.</xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ElectricityMeasure" type="sqdt:ElectricityMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Defines a rate of electricity.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Emissions" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">How much pollution the engine is rated to put out.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Engine" type="EngineType">
        <xsd:annotation>
            <xsd:documentation>Information describing the components that are part of an engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EngineDepthMeasure" type="sqdt:LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the depth of the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EngineDimensionDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A description of the dimensions being described for an engine, e.g., height above crankshaft.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EngineDimensions" type="EngineDimensionsType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EngineHeightMeasure" type="sqdt:LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the height of the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EngineSerialString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Engine serial number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="EngineWidthMeasure" type="sqdt:LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the width of the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FuelConsumptionMeasure" type="sqdt:FuelConsumptionMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Amount of fuel consumed by the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FuelInductionSystemCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The type of system used to get the fuel into the engine cylinders, e.g., Carborated, Injected, Multiport, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FuelTypeCode" type="sqdt:FuelTypeCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Type of vehicle fuel</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="FullThrottleOperatingRangeMaximumMeasure" type="sqdt:SpeedMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Measured in RPM is the prop speed at full throttle.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GearRatio" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The ratio of the engine rotation to the output drive rotation.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GearRatioDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A description of the gear, i.e., 1st gear, 2nd gear, 3rd gear, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GearRatioGroup" type="GearRatioGroupType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GeneralEngineDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">General descriptive text used to describe the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GeographicalConstraintDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Free-form text field describing the value of the constraints, i.e., the country name(s) to which the initiative applies, US state(s) to which the initiative applies, zip code(s) to which the initiative applies, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GeographicalConstraints" type="GeographicalConstraintsType">
        <xsd:annotation>
            <xsd:documentation>The GeographicalConstraints component is used to define the geographical region or regions or a range of regions to which the initiative is limited. Example 1: An EmployeePricing initiative may only apply to Zip code 12345. All other zip codes do not apply Example 2: An EmployeePricing initiative may apply to Zip code 12345 as well as zip code 54321, and 65431. All other zip codes do not apply. Example 3: An EmployeePricing initiative applies to the following range of zip codes 12345 to 12349. Any zip codes out side of this range do not apply.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GeographicalConstraintTypeCode" type="scl:GeographicalConstraintTypeEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies the geographical region or code by which the initiative is constrained.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="GrossWeightMeasure" type="sqdt:WeightMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Gross Weight</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IdleRevolutionPerMinuteForwardGearMinimumMeasure" type="sqdt:SpeedMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Measured in RPM is the prop speed at minimum throttle.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="IgnitionSystem" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">System used to fire the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeAnnualPercentageRate" type="udt:PercentType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The initiative rate is the underlining annual percentage rate based on the finance type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeCategoryCode" type="scl:InitiativeCategoryEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies whether the initiative applies to a customer(s) or a vehicle(s).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A detailed free-form description of the initiative, for example Employee Pricing , 0% APR, Security Deposit Waiver, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeDetail" type="InitiativeDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Initiative download detail.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeDownload" type="InitiativeDownloadType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeDownloadHeader" type="InitiativeDownloadHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Initial Download Header.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeDownloadVehicleLineItem" type="InitiativeDownloadVehicleLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding a vehicle for a particular initiative download</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeEffectiveDate" type="udt:DateType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The date that the initiative goes into effect.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeEndDate" type="udt:DateType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Initiative ending date</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeFinanceTypeCode" type="scl:InitiativeFinanceTypeEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies the type of finance to which the initiative applies. For example, an initiative may only apply to a vehicle that is being leased.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Initiative Identification (i.e., Manufacturer incentive reimbursement program identification or dealer offerings)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeMoneyFactorNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The initiative money factor is the underlining money factor based on the finance type.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeRateGroup" type="InitiativeRateGroupType">
        <xsd:annotation>
            <xsd:documentation>The initiative rate group component describes rates and terms associated with the initiative.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeRebateGroup" type="InitiativeRebateGroupType">
        <xsd:annotation>
            <xsd:documentation>The Rebate component describes a deduction from an amount to be paid on a vehicle purchase or lease.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeTermString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The initiative term the underlining annual percentage rate or money factor based on the finance type. For example 24 months, 36 months, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LanguageCode" type="sqdt:LanguageCodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Code identifying a physical location</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LocationReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LogicalID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the logical location of the server and applications from which the Business Object Document originated. It can be used to establish a logical to physical mapping, however its use is optional. Each system or combination of systems should maintain an external central reference table containing the logical names or logical addresses of the application systems in the integration configuration. This enables the logical names to be mapped to the physical network addresses of the resources needed on the network. Note: The technical implementation of this Domain Naming Service is not dictated by this specification. This logical to physical mapping may be done at execution time by the application itself or by a middleware transport mechanism, depending on the integration architecture used. This provides for a simple but effective directory access capability while maintaining application independence from the physical location of those resources on the network</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="LubricationSystem" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">System used to lubricate the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MakeString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Depracated: Use VehicleMake</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ManufacturerColorCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Manufacturer-assigned color code.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ManufacturerName" type="udt:NameType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Item manufacturer name.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="MeanPistonSpeedMeasure" type="MeasurementType">
        <xsd:annotation>
            <xsd:documentation>
                <xsd:documentation>Mean piston speed is the average speed of the piston in a reciprocating engine.</xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Model" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Manufacturer-assigned model code of vehicle - Usually available in the VIN number (use NCIC code)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ModelClass" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the specific class of vehicle attached to the model description (ie: GT, XLE, SE)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ModelDescription" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Descriptive vehicle model name</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ModelGroup" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Grouping of similar models for order management purposes</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ModelYear" type="qdt:YearDateType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle designated model year</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ModelYearChangeIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Model Year can change indicator</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NounCountNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The number of nouns that are included in the BOD.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="NumberOfEngineCylindersNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Represents the number of cylinders in the vehicle engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Party identification number used to uniquely identify a party for example Dealer ID, Fleet, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartyReceiverID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Password" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PeakThrustMeasure" type="sqdt:ForceMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Maximum thrust produced by the electric motor.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PowerMeasure" type="MeasurementType">
        <xsd:annotation>
            <xsd:documentation>
                <xsd:documentation>Defines the manufacturers rated output drive power of the engine.</xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PowerTrimIndicator" type="udt:IndicatorType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates if the engine has a Power Trim.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PressureMeasure" type="sqdt:PressureMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Defines an amount of pressure.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PropellerType" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the type of propeller, e.g. 3 bladded brass prop, composite, etc.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RebateAmount" type="udt:AmountType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Dollar amount of rebate value for the initiative.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RebateTypeCode" type="scl:RebateTypeEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies with the rebate amount is Manufacturer Rebate, Dealer Rebate or a Third Party Rebate. This rebate applies to the initiative</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ReferenceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created. This allows drill back from the BOD message into the sending application. The may be required in environments where an audit trail must be maintained for all transactions.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RegistrationID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A governement issued registration identifier for a vehicle. I.e. license plate number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="RequiredOptionGroup" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The group of required options to which an option belongs. EX: Option A1, Option A2, Option A3 of which you may chose only 1.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SaleClassCode" type="scl:SaleClassEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Class of sale.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryDealerNumberID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SecondaryPassword" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Secondary password used to validate access to the dealer information</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Sender" type="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SenderNameCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Service Id field identifies the particular service to or from which a message is being sent, e.g., an inventory service.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ServiceMessageID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="ShaftLengthMeasure" type="sqdt:LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Length of the shaft on which the prop mounts.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SpeedMeasure" type="sqdt:SpeedMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Defines a rate of speed.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StartingSystemTypeCode" type="scl:StartingSystemTypeEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The method required to start the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SteeringSystem" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">System required to steer the engine.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StoreNumber" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="StrokeMeasure" type="sqdt:LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Piston movement distance.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Sync" type="oagis:SyncType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9.0">The Sync verb is used when the owner of the data is passing or publishing that information or change in information to other software components. This is to be used when the receiver of the SyncBOD does not own the data. This verb is commonly used when mass changes are necessary or when a publish and subscribe mechanism is used in the integration architecture.The purposes of this verb include application integrity and ease of data entry for the business user by enabling a single point of input.</xsd:documentation>
            <xsd:documentation>The OAGIS Meta Data documentation has more information in regards to this verbs usage and structure.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SyncInitiativeDownload" type="SyncInitiativeDownloadType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Sync Initiative Download</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SyncInitiativeDownloadDataArea" type="SyncInitiativeDownloadDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Sync Initiative Download Data Area</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="SystemVersion" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TaskID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.openapplications.org/oagis/9">Describes the business event that initiated the need for the Business Object Document to be created. Its use is optional. Although the Task may differ depending on the specific implementation, it is important to enable drill back capability. Example Tasks may be Receipt or Adjustment.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TorqueMeasure" type="MeasurementType">
        <xsd:annotation>
            <xsd:documentation>
                <xsd:documentation>Define the manufacturers rated torque output of the engine</xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TotalEngineHoursNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Total hours of engine(s) use.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransmissionCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Transmission Serial Number</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransmissionGroup" type="TransmissionGroupType">
        <xsd:annotation>
            <xsd:documentation>Details describing the transmission of a vehicle, truck, boat, etc..</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransmissionSerialString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The serial number of the Transmission.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransmissionTypeCode" type="scl:TransmissionTypeEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Transmission type - 3 = 3 speed, 4 = 4 speed, 5 = 5 speed, 6 = 6 speed, A - Automatic</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransmissionTypeName" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Name of transmission type (i.e., Hydromatic, Shiftronic, Manual, Automatic, etc.)</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TransomShieldKitSerialString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The serial number of the Transom Shield Kit (TSK).</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="TrimCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Manufacturer assigned trim code</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="UnloadedVehicleWeightMeasure" type="sqdt:WeightMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The weight of the item without any load. If the item has a trailer, this would be the weight of the item minus it's trailer and the contents of the trailer.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="URI" type="qdt:URIType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5" />
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VDriveSerialString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">V-Drive serial number.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VDSCode" type="udt:CodeType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Description Section- part of the VIN that correlates to a specific vehicle model, bodystyle, and grade</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="Vehicle" type="VehicleABIEType">
        <xsd:annotation>
            <xsd:documentation>Common vehicle component</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleClassCode" type="scl:VehicleClassEnumeratedType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Class of vehicle</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleID" type="udt:IdentifierType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The vehicle identification. This could be the VIN, HIN, or some unique identifier for a vehicle.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleLengthMeasure" type="sqdt:LengthMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Length of the vehicle.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleNote" type="udt:TextType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Any vehicle related notes</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehiclePassengersNumeric" type="udt:NumericType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Passenger/seat capacity count of vehicle</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleStockString" type="qdt:StringType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Dealer assigned vehicle stock number</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleWeightMeasure" type="sqdt:WeightMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Weight</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="WetWeightMeasure" type="sqdt:WeightMeasureType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the weight of the item when all fluids are present.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InitiativeDownloadHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Header component contains summary information related to the entire InitiativeDownload Business Object Document.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType" />
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HeaderBaseType">
        <xsd:sequence>
            <xsd:element ref="DocumentDateTime" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Is the date and time the document was last created. This is not the date and time that the BOD message instance was created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="SecondaryPassword" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Secondary password used to validate access to the dealer information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="SecondaryDealerNumberID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Identifies secondary dealer number if different than primary "Dealer Number"</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DocumentIdentificationGroup" minOccurs="1" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationGroupType">
        <xsd:annotation>
            <xsd:documentation>A list of identifications related to a particular document.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DocumentIdentification" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="AlternateDocumentIdentification" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DocumentIdentificationType">
        <xsd:annotation>
            <xsd:documentation>An identifer for this document</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DocumentID" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="AgencyRoleCode" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InitiativeDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Initiative component represents money an interest rate programs/incentives based on the vehicle or money programs/incentives based on an individual customers.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="InitiativeCategoryCode" />
            <xsd:element ref="InitiativeDownloadVehicleLineItem" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="GeographicalConstraints" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="InitiativeID" />
            <xsd:element ref="InitiativeDescription" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element ref="InitiativeEffectiveDate" />
            <xsd:element ref="InitiativeEndDate" />
            <xsd:element ref="RequiredOptionGroup" minOccurs="0" />
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element ref="InitiativeRebateGroup" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element ref="InitiativeRateGroup" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InitiativeDownloadVehicleLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding a vehicle for a particular initiative download.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Vehicle" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="VDSCode" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleABIEType">
        <xsd:sequence>
            <xsd:element ref="Model" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Manufacturer-assigned model code of vehicle - Usually available in the VIN number (use NCIC code)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ModelYear" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vehicle designated model year</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ModelDescription" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Descriptive vehicle model name</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="MakeString" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vehicle make code - Usually available in the VIN number (use NCIC code).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="SaleClassCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Class of Sale</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Condition" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Condition of Vehicle - Example: Excellent, Good, Fair, Poor, Unknown</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="VehicleNote" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Any vehicle related notes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="TrimCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Manufacturer assigned trim code</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DoorsQuantityNumeric" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Number of doors on vehicle</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="BodyStyle" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Manufacturer-assigned vehicle body style</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="TransmissionGroup" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Vehicle Transmission type</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ColorGroup" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="VehicleClassCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>VehicleClass</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="FuelTypeCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Type of vehicle fuel</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DriveTrain" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Indicates whether the vehicle is 2 or 4 wheel drive (i.e., 2WD, 4WD, 4x4, 4x2)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DriveTypeCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Designates Vehicle drive type</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="VehiclePassengersNumeric" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Passenger/seat capacity count of vehicle</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Engine" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>Describes the engine on the vehicle.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="VehicleID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The vehicle identification. This could be the VIN, HIN, or some unique identifier for a vehicle.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AxleCode" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The code on the axle of the vehicle.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ManufacturerName" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Manufacturer name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="VehicleWeightMeasure" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Vehicle weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="GrossWeightMeasure" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Gross weight.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="UnloadedVehicleWeightMeasure" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>The weight of the item without any load. If the item has a trailer, this would be the weight of the item minus it</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ModelGroup" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Grouping of similar models for order management purposes</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ModelYearChangeIndicator" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Model Year can change indicator</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DistributorModelCode" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Alternate model code, usually used for vehicle ordering</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ModelClass" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Indicates the specific class of vehicle attached to the model description (ie: GT, XLE, SE)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="RegistrationID" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="VehicleLengthMeasure" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>Length of the vehicle.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Chassis" minOccurs="0" maxOccurs="1">
                <xsd:annotation>
                    <xsd:documentation>A general term that refers to all of the mechanical parts of a car attached to a structural frame. In cars with unitized construction, the chassis comprises everything but the body of the car.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="TransmissionGroupType">
        <xsd:annotation>
            <xsd:documentation>The detail information regarding a boat that is owned by an indivual or organization.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="TransmissionCode" minOccurs="0" />
            <xsd:element ref="TransmissionTypeCode" minOccurs="0" />
            <xsd:element ref="TransmissionTypeName" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ColorGroupType">
        <xsd:annotation>
            <xsd:documentation>The ColorGroup component provides color information about a specific item.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ColorItemCode" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="ManufacturerColorCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="ColorDescription" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="ColorName" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="ColorCodeChangeIndicator" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EngineType">
        <xsd:annotation>
            <xsd:documentation>The Engine component provides detail information about a engine.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="MakeString" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="ModelDescription" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="ModelYear" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="SaleClassCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="Condition" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="Model" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="VehicleStockString" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="ColorGroup" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="BoatEngineTypeCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="FuelTypeCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="FullThrottleOperatingRangeMaximumMeasure" minOccurs="0" />
            <xsd:element ref="IdleRevolutionPerMinuteForwardGearMinimumMeasure" minOccurs="0" />
            <xsd:element ref="AlternatorOutputMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="BatterySizeRequirementsMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="CurrentDrawMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="PeakThrustMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="BoreMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="StrokeMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="CylinderConfigurationCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="NumberOfEngineCylindersNumeric" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="FuelInductionSystemCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="BoatEngineLocationCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="FuelConsumptionMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="TotalEngineHoursNumeric" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="PowerTrimIndicator" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="StartingSystemTypeCode" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="IgnitionSystem" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="LubricationSystem" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="CoolingSystem" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="Emissions" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="SteeringSystem" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="PropellerType" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="GeneralEngineDescription" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="DetailedEngineDescription" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="DriveTransmissionDescription" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="EngineSerialString" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="DriveSerialString" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="TransomShieldKitSerialString" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="VDriveSerialString" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="TransmissionSerialString" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="DryWeightMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="WetWeightMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="ShaftLengthMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="EffectiveMeanPressureMeasure" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="PowerMeasure" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="MeanPistonSpeedMeasure" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="CompressionPressureMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="TorqueMeasure" minOccurs="0" maxOccurs="1" />
            <xsd:element ref="GearRatioGroup" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="EngineDimensions" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="MeasurementType">
        <xsd:annotation>
            <xsd:documentation>The Measurement components provides details about specific measurements of an item.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="PressureMeasure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Defines an amount of pressure.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="SpeedMeasure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Defines a rate of speed.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ElectricityMeasure" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/STAR/5">Defines a rate of electricity.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GearRatioGroupType">
        <xsd:annotation>
            <xsd:documentation>The GearRatio component provides information an engine's gears.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="GearRatio" minOccurs="0" />
            <xsd:element ref="GearRatioDescription" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EngineDimensionsType">
        <xsd:annotation>
            <xsd:documentation>Physical size of the engine, this is usually consists of two nodes, one for length and one for width.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="EngineDimensionDescription" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="EngineHeightMeasure" minOccurs="0" />
            <xsd:element ref="EngineWidthMeasure" minOccurs="0" />
            <xsd:element ref="EngineDepthMeasure" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChassisType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">A general term that refers to all of the mechanical parts of a car attached to a structural frame. In cars with unitized construction, the chassis comprises everything but the body of the car.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ChassisMake" minOccurs="1" maxOccurs="1" />
            <xsd:element ref="ChassisModel" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GeographicalConstraintsType">
        <xsd:sequence>
            <xsd:element ref="GeographicalConstraintTypeCode">
                <xsd:annotation>
                    <xsd:documentation>Identifies the geographical region or code by which the initiative is constrained.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="GeographicalConstraintDescription" minOccurs="1" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>Free-form text field describing the value of the constraints, i.e., the country name(s) to which the initiative applies, US state(s) to which the initiative applies, zip code(s) to which the initiative applies, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InitiativeRebateGroupType">
        <xsd:sequence>
            <xsd:element ref="RebateTypeCode">
                <xsd:annotation>
                    <xsd:documentation>Identifies whether the rebate amount is Manufacturer Rebate, Dealer Rebate or a Third Party Rebate. This rebate applies to the initiative.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="RebateAmount">
                <xsd:annotation>
                    <xsd:documentation>Dollar amount of rebate value for the initiative.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InitiativeRateGroupType">
        <xsd:sequence>
            <xsd:element ref="InitiativeFinanceTypeCode">
                <xsd:annotation>
                    <xsd:documentation>Identifies the type of finance to which the initiative applies. For example, an initiative may only apply to a vehicle that is being leased.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element ref="InitiativeAnnualPercentageRate">
                        <xsd:annotation>
                            <xsd:documentation>The initiative annual percentage rate is the underlining annunal percentage rate based onthe finance type.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element ref="InitiativeMoneyFactorNumeric">
                        <xsd:annotation>
                            <xsd:documentation>The initiative money factor is the underlining money factor rate based on the finance type.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:choice>
            <xsd:element ref="InitiativeTermString">
                <xsd:annotation>
                    <xsd:documentation>The initiative term the underlining annual percentage rate or money factor based on the finance type. For example 24 months, 36 months, etc.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SyncInitiativeDownloadType">
        <xsd:annotation>
            <xsd:appinfo>STAR unique BOD</xsd:appinfo>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Sync Initiative Download</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="BusinessObjectDocumentType">
                <xsd:sequence>
                    <xsd:element ref="SyncInitiativeDownloadDataArea" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="BusinessObjectDocumentType">
        <xsd:annotation>
            <xsd:documentation>Is the schema based inheritance for all BODs. The logical model would also include the DataArea.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ApplicationArea">
                <xsd:annotation>
                    <xsd:documentation source="http://www.openapplications.org/oagis/9">Provides the information that an application may need to know in order to communicate in an integration of two or more business applications. The ApplicationArea is used at the applications layer of communication. While the integration frameworks web services and middleware provide the communication layer that OAGIS operates on top of.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="releaseID" type="udt:string" use="required">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9.0">STAR Release this BOD Instances belongs.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="versionID" type="udt:string" use="optional">
            <xsd:annotation>
                <xsd:documentation source="http://www.starstandard.org">Deprecated. Recommended to use releaseID to identify the repository and noun. This field may be removed in the next major version of the STAR repository.</xsd:documentation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the version of the given BOD defintion.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="systemEnvironmentCode" type="oacl:SystemEnvironmentCodeContentType" use="optional" default="Production">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates whether this BOD is being sent in a "Test" or a "Production" mode. If the BOD is being sent in a test mode, it's information should not affect the business operation. However, if the BOD is sent in "Production" mode it is assumed that all test has been complete and the contents of the BOD are to affect the operation of the receiving business application(s).</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="languageCode" type="scl:LanguageEnumeratedType" use="optional" default="en-US">
            <xsd:annotation>
                <xsd:documentation source="http://www.openapplications.org/oagis/9">Indicates the language that the contents of the BOD is in unless otherwise stated.</xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
    <xsd:complexType name="ApplicationAreaType">
        <xsd:sequence>
            <xsd:element ref="Sender">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="CreationDateTime">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is used as the creation moment of this Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="oagis:Signature" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">If the BOD is to be signed the signature element is included, otherwise it is not. Signature supports any digital signature that maybe used by an implementation of OAGIS. The qualifyingAgency identifies the agency that provided the format for the signature.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="BODID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">The BODId provides a place to carry a Globally Unique Identifier (GUID) that will make each Business Object Document instance uniquely identifiable. This is a critical success factor to enable software developers to use the Globally Unique Identifier (GUID) to build services or capabilities:</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="Destination">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This identifies characteristics and control identifiers that relate to the application that receives the Business Object Document.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SenderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/">This identifies characteristics and control identifiers that relate to the application that created the Business Object Document.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="SenderBaseType">
                <xsd:sequence>
                    <xsd:element ref="CreatorNameCode">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">DCS Software Creator Code</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="SenderNameCode">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Additional information about the sending platform (i.e., Short Manufacturer or DSP code).</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="URI" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Physical address of the sender</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="DealerNumberID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer Code of source of information</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="StoreNumber" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code store number (DMS assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="AreaNumber" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="DealerCountryCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Source Dealer country location</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="LanguageCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">This code is used to define the language of the data used in this transaction</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="DeliverPendingMailIndicator" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Indicates if the user requests to receive pending mail that has been stored and has yet not been delivered yet. By selecting 0, the user will only receive the response for the current transaction the user is performing.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="Password" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Token for application specific authentication. Used to authenticate dealership/users through application specific security</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="SystemVersion" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The sender's software version number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="PartyID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Party Id field uniquely identifies the Sender of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="LocationID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Location Id field uniquely identifies the location of the Sender of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="ServiceID" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">The Service Id field identifies the particular service from which a message is being sent, e.g., an inventory service.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element ref="NounCountNumeric" minOccurs="0" maxOccurs="1" />
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="SenderBaseType">
        <xsd:annotation>
            <xsd:documentation>Identifies the sender of the given BOD instance</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LogicalID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This is the logical location of the server and application from which the Business Object Document originated.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ComponentID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">DCS software code name.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="TaskID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">This describes the business event that initiated the need for the Business Object Document to be created.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ReferenceID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">Enables the sending application to indicate the instance identifier of the event or task that caused the BOD to be created.&#195;&#130;&#194;&#160; This is used to correlate a response BOD to an originating BOD. *The Sender of the originating application will populate the Reference Id with business level information. *Reference ID does not have to be a GUID. It must be a locally unique application value for the transaction type, for example a database sequence number. *The receiving application puts the value in Reference ID of the incoming message in the Reference ID of any acknowledgement messages. *The Reference Id will not be required to tie two collaborations together such as Parts Order and Parts Shipment.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ConfirmationCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation />
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AuthorizationID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandard.org">dentifies the authorization level of the user or application that is sending the Business Object Document Message. Used as User ID.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DestinationType">
        <xsd:annotation>
            <xsd:documentation>Destination</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="DestinationNameCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Code for destination of file (i.e.Short Manufacturer or DSP code)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DestinationURI" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Physical address of the destination</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DestinationSoftwareCode" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Additional information about the destination application</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DestinationSoftware" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">For which software destination file is intended (may not be known).</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DealerNumberID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer Code receiving information</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="StoreNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code store number (DMS assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="AreaNumber" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Dealer code area number (DMS vendor assigned)</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="DealerTargetCountry" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">Target Dealer country location</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="PartyReceiverID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Party Receiver Id field uniquely identifies the Receiver of the message. This element can be used for parties within the Automotive Community as well as external parties. Party Id is not intended as a replacement for the Dealer Number. Suggested formats for OEMs or other large institutions include: DUNs Number, ShortMfgCode + DUNs, or ShortMfgCode. The suggested format for Dealers is: ShortMfgCode+Dealer Number.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="LocationReceiverID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Location Receiver Id field uniquely identifies the location of the Receiver of a message. This Id may be aligned with a physical address or data centers. This field provides an additional level of granularity beyond the usage of the Party Id for additional routing and deliver of data.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="ServiceMessageID" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation source="http://www.starstandards.org">The Service Message Id field identifies the particular service to which a message is being sent, e.g., an inventory service.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SyncInitiativeDownloadDataAreaType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Sync Initiative Download Data Area</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Sync" />
            <xsd:element ref="InitiativeDownload" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InitiativeDownloadType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="InitiativeDownloadHeader" />
            <xsd:element ref="InitiativeDetail" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
