ejb/tests/ims-lip/src/main/resources/imslip_v1p0.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML 2.3.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema xmlns = "http://www.imsglobal.org/xsd/imslip_v1p0"
	 targetNamespace = "http://www.imsglobal.org/xsd/imslip_v1p0"
	 xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
	 version = "LIP 1.0.1"
	 elementFormDefault = "qualified">
	<xsd:import namespace = "http://www.w3.org/XML/1998/namespace" schemaLocation = "http://www.w3.org/2001/03/xml.xsd"/>
	<xsd:annotation>
		<xsd:documentation>Model:		Learner Information Package (LIP) XSD
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Author:		Colin Smythe
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Date:		15th December, 2004
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Version:		1.0.1
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Status:		Final Release
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Comments:	This XSD is the formal version of the LIP v1.0 DTD plus the set of bug fixes described under the 'History' sub-section
										in this description.
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>History:		VERSION		DATE			AUTHOR			COMMENTS
										=======		====			======			========
										1.0			9th March 2001	Colin Smythe	Original release of the IMS LIP XML binding was as a DTD only.
										1.0.1		15th Dec 2004	Colin Smythe	The changes are:
																					(a) Use the dataTime data type for the 'datetime' element;
																					(b) Change the 'description' element cardinality of 'short', 'long' and 'full' to relect the Information Model;
																					(c) The data type for 'countrycode' has been changed from integer to string;
																					(d) The data type for 'areacode' has been changed from integer to string;
																					(e) The data type for 'indnumber' has been changed from integer to string;
																					(f) The data type for 'extnumber' has been changed from integer to string;
																					(g) The ambiguity under 'referential' has been removed.  The 'sourceid' and 'indexid' co-ordination is not enforced by the parser;
		
		
		
		
		
		
		</xsd:documentation>
		<xsd:documentation>Copyright:	(c) IMS Global Learning Consortium Inc.
										All Rights Reserved.
										IMS Global Learning Consortium, Inc. (IMS) is publishing the information contained in this binding (“Specification”) 
										for purposes of scientific, experimental and scholarly collaboration only.  IMS makes no warranty or representation 
										regarding the accuracy or completeness of the Specification.  This material is provided on an “As Is’ and “As Available” 
										basis.  The Specification is at all times subject to change and revision without notice.  It is your sole responsibility 
										to evaluate the usefulness, accuracy and completeness of the Specification as it relates to you.  IMS would appreciate 
										receiving your comments and suggestions.  Please contact IMS through our website at: http://www.imsglobal.org.
		
		
		
		
		
		
		
		
		
		</xsd:documentation>
	</xsd:annotation>
	<xsd:attributeGroup name = "entityref.attr">
		<xsd:attribute name = "entityref" type = "xsd:ENTITY"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "profmode.attr">
		<xsd:attribute name = "profmode" use = "required">
			<xsd:simpleType>
				<xsd:restriction base = "xsd:NMTOKEN">
					<xsd:enumeration value = "Write"/>
					<xsd:enumeration value = "Read"/>
					<xsd:enumeration value = "OralSpeak"/>
					<xsd:enumeration value = "OralComp"/>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "uri.attr">
		<xsd:attribute name = "uri" type = "xsd:string"/>
	</xsd:attributeGroup>
	<xsd:attributeGroup name = "lang.attr">
		<xsd:attribute ref = "xml:lang" default = "en"/>
	</xsd:attributeGroup>
	
	<!-- ATTRIBUTE DECLARATIONS *************************************************************************************************** -->
	
	
	<!-- ========================================================================================================================= -->
	
	
	<!-- ELEMENT DECLARATIONS **************************************************************************************************** -->
	
	<xsd:element name = "comment">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "priority">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "source" type = "xsd:string"/>
	<xsd:element name = "id" type = "xsd:string"/>
	<xsd:element name = "short">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "long">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "fielddata" type = "xsd:string"/>
	<xsd:element name = "proficiency">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
					<xsd:attributeGroup ref = "profmode.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "pobox">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "locality">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "city">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "country">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "statepr">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "region">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "postcode">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "timezone">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:time">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "nonfieldedstreetaddress">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "complex">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "streetnumber">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "streetprefix">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "streetname">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "streetype">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "streetsuffix">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "apttype">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "aptnumprefix">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "aptnumber">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "aptnumsuffix">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "countrycode" type = "xsd:string"/>
	<xsd:element name = "indnumber" type = "xsd:string"/>
	<xsd:element name = "extnumber" type = "xsd:string"/>
	<xsd:element name = "placeofbirth">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "datetime" type = "xsd:dateTime"/>
	<xsd:element name = "text">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "uri.attr"/>
					<xsd:attributeGroup ref = "lang.attr"/>
					<xsd:attributeGroup ref = "entityref.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "title">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "prefcode">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "registrationno" type = "xsd:string"/>
	<xsd:element name = "areacode" type = "xsd:string"/>
	<xsd:element name = "gender">
		<xsd:complexType>
			<xsd:attribute name = "gender" use = "required">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "M"/>
						<xsd:enumeration value = "F"/>
						<xsd:enumeration value = "NA"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "learnerinformation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
					<xsd:element ref = "identification"/>
					<xsd:element ref = "goal"/>
					<xsd:element ref = "qcl"/>
					<xsd:element ref = "activity"/>
					<xsd:element ref = "competency"/>
					<xsd:element ref = "transcript"/>
					<xsd:element ref = "accessibility"/>
					<xsd:element ref = "interest"/>
					<xsd:element ref = "affiliation"/>
					<xsd:element ref = "securitykey"/>
					<xsd:element ref = "relationship"/>
					<xsd:element ref = "ext_learnerinfo"/>
				</xsd:choice>
			</xsd:sequence>
			<xsd:attributeGroup ref = "lang.attr"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "fieldlabel">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "sourcedid">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "source"/>
				<xsd:element ref = "id"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "identification">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
					<xsd:element ref = "formname"/>
					<xsd:element ref = "name"/>
					<xsd:element ref = "address"/>
					<xsd:element ref = "contactinfo"/>
					<xsd:element ref = "demographics"/>
					<xsd:element ref = "agent"/>
				</xsd:choice>
				<xsd:element ref = "ext_identification" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "preference">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "prefcode" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_preference" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "goal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "priority" minOccurs = "0"/>
				<xsd:element ref = "status" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "goal" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ext_goal" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "qcl">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "title" minOccurs = "0"/>
				<xsd:element ref = "organization" minOccurs = "0"/>
				<xsd:element ref = "registrationno" minOccurs = "0"/>
				<xsd:element ref = "level" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_qcl" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "activity">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "status" minOccurs = "0"/>
				<xsd:element ref = "units" minOccurs = "0"/>
				<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
					<xsd:element ref = "learningactivityref"/>
					<xsd:element ref = "definition"/>
					<xsd:element ref = "product"/>
					<xsd:element ref = "testimonial"/>
					<xsd:element ref = "evaluation"/>
				</xsd:choice>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "activity" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ext_activity" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "competency">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "exrefrecord" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_competency" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "interest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "product" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_interest" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "affiliation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "classification" minOccurs = "0"/>
				<xsd:element ref = "affiliationid" minOccurs = "0"/>
				<xsd:element ref = "role" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "organization" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "status" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "affiliation" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ext_affiliation" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "name">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "partname" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "address">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "pobox" minOccurs = "0"/>
				<xsd:element ref = "street" minOccurs = "0"/>
				<xsd:element ref = "locality" minOccurs = "0"/>
				<xsd:element ref = "city" minOccurs = "0"/>
				<xsd:element ref = "statepr" minOccurs = "0"/>
				<xsd:element ref = "region" minOccurs = "0"/>
				<xsd:element ref = "country" minOccurs = "0"/>
				<xsd:element ref = "postcode" minOccurs = "0"/>
				<xsd:element ref = "timezone" minOccurs = "0"/>
				<xsd:element ref = "geo" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "contactinfo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:choice>
					<xsd:element ref = "telephone"/>
					<xsd:element ref = "facsimile"/>
					<xsd:element ref = "mobile"/>
					<xsd:element ref = "pager"/>
					<xsd:element ref = "email"/>
					<xsd:element ref = "web"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "demographics">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "representation" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "gender" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "placeofbirth" minOccurs = "0"/>
				<xsd:element ref = "uid" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "language">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "proficiency" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ext_language" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "disability">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "ext_disability" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "securitykey">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "keyfields" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_securitykey" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "description">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "short"/>
				<xsd:element ref = "long" minOccurs = "0"/>
				<xsd:element ref = "full" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "full">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "media" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "contentype">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:choice maxOccurs = "unbounded">
					<xsd:element ref = "referential"/>
					<xsd:element ref = "temporal"/>
					<xsd:element ref = "privacy"/>
				</xsd:choice>
				<xsd:element ref = "ext_contentype" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "referential">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "sourcedid" minOccurs = "0"/>
				<xsd:element ref = "indexid" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "temporal">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "temporalfield" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "privacy">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "privacyfield" maxOccurs = "unbounded"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "indexid" type = "xsd:string"/>
	<xsd:element name = "status">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "partname">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "text" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "street">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "nonfieldedstreetaddress" minOccurs = "0"/>
				<xsd:element ref = "complex" minOccurs = "0"/>
				<xsd:element ref = "streetnumber" minOccurs = "0"/>
				<xsd:element ref = "streetprefix" minOccurs = "0"/>
				<xsd:element ref = "streetname" minOccurs = "0"/>
				<xsd:element ref = "streetype" minOccurs = "0"/>
				<xsd:element ref = "streetsuffix" minOccurs = "0"/>
				<xsd:element ref = "apttype" minOccurs = "0"/>
				<xsd:element ref = "aptnumprefix" minOccurs = "0"/>
				<xsd:element ref = "aptnumber" minOccurs = "0"/>
				<xsd:element ref = "aptnumsuffix" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "telephone">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "countrycode" minOccurs = "0"/>
				<xsd:element ref = "areacode"/>
				<xsd:element ref = "indnumber"/>
				<xsd:element ref = "extnumber" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "email" type = "xsd:string"/>
	<xsd:element name = "web" type = "xsd:string"/>
	<xsd:element name = "representation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "description" minOccurs = "0" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "date">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "datetime"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_date" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "organization">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "level">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "text"/>
				<xsd:element ref = "level" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "exrefrecord">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "recformat"/>
				<xsd:element ref = "recdata"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_exrefrecord" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "role">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "status" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "role" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ext_role" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "evaluation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "evaluationid" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "evalmetadata" minOccurs = "0"/>
				<xsd:element ref = "objectives" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "status" minOccurs = "0"/>
				<xsd:element ref = "noofattempts" minOccurs = "0"/>
				<xsd:element ref = "duration" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "result" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "evaluation" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ext_evaluation" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "testimonial">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_testimonial" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "definition">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "definitionfield" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "definition" minOccurs = "0" maxOccurs = "unbounded"/>
				<xsd:element ref = "ext_definition" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "evalmetadata">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "evalmetadatafield" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "evalmetadatafield">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
			<xsd:attributeGroup ref = "lang.attr"/>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "objectives">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:choice maxOccurs = "unbounded">
					<xsd:element ref = "media"/>
					<xsd:element ref = "contentref"/>
				</xsd:choice>
				<xsd:element ref = "ext_objectives" minOccurs = "0"/>
			</xsd:sequence>
			<xsd:attribute name = "view" default = "All">
				<xsd:simpleType>
					<xsd:restriction base = "xsd:NMTOKEN">
						<xsd:enumeration value = "All"/>
						<xsd:enumeration value = "Administrator"/>
						<xsd:enumeration value = "AdminAuthority"/>
						<xsd:enumeration value = "Assessor"/>
						<xsd:enumeration value = "Author"/>
						<xsd:enumeration value = "Candidate"/>
						<xsd:enumeration value = "InvigilatorProctor"/>
						<xsd:enumeration value = "Psychometrician"/>
						<xsd:enumeration value = "Scorer"/>
						<xsd:enumeration value = "Tutor"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:attribute>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "result">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:choice>
					<xsd:choice minOccurs = "0" maxOccurs = "unbounded">
						<xsd:element ref = "interpretscore"/>
						<xsd:element ref = "score"/>
					</xsd:choice>
					<xsd:element ref = "result" minOccurs = "0" maxOccurs = "unbounded"/>
				</xsd:choice>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "product">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "date" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_product" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "units">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "unitsfield" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "accessibility">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:choice maxOccurs = "unbounded">
					<xsd:element ref = "language"/>
					<xsd:element ref = "eligibility"/>
					<xsd:element ref = "preference"/>
					<xsd:element ref = "disability"/>
				</xsd:choice>
				<xsd:element ref = "ext_accessibility" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "eligibility">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "ext_eligibility" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "formname">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "text" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "uid" type = "xsd:string"/>
	<xsd:element name = "agent">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "agentid"/>
				<xsd:element ref = "agentdomain"/>
				<xsd:element ref = "description" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "agentdomain">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "typename">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "tysource" minOccurs = "0"/>
				<xsd:element ref = "tyvalue"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "recformat">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "xsd:anyType">
					<xsd:attributeGroup ref = "uri.attr"/>
					<xsd:attributeGroup ref = "entityref.attr"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "recdata">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base = "xsd:anyType">
					<xsd:attributeGroup ref = "uri.attr"/>
					<xsd:attributeGroup ref = "entityref.attr"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "transcript">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "exrefrecord" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_transcript" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "affiliationid" type = "xsd:string"/>
	<xsd:element name = "learningactivityref">
		<xsd:complexType>
			<xsd:choice maxOccurs = "unbounded">
				<xsd:element ref = "sourcedid"/>
				<xsd:element ref = "text"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "relationship">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename" minOccurs = "0"/>
				<xsd:element ref = "comment" minOccurs = "0"/>
				<xsd:element ref = "contentype" minOccurs = "0"/>
				<xsd:element ref = "tuple" minOccurs = "0"/>
				<xsd:element ref = "description" minOccurs = "0"/>
				<xsd:element ref = "ext_relationship" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "geo">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "lat"/>
				<xsd:element ref = "lon"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "lat" type = "xsd:string"/>
	<xsd:element name = "lon" type = "xsd:string"/>
	<xsd:element name = "evaluationid" type = "xsd:ID"/>
	<xsd:element name = "noofattempts" type = "xsd:integer"/>
	<xsd:element name = "duration">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "tuple">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "tuplesource"/>
				<xsd:element ref = "tuplerelation"/>
				<xsd:element ref = "tupledest" maxOccurs = "unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "tuplesource">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "sourcedid" minOccurs = "0"/>
				<xsd:element ref = "indexid"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "tuplerelation">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "typename"/>
				<xsd:element ref = "text" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "tupledest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "sourcedid" minOccurs = "0"/>
				<xsd:element ref = "indexid"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "contentref" type = "xsd:ID"/>
	<xsd:element name = "media">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "mediamode" use = "required">
						<xsd:simpleType>
							<xsd:restriction base = "xsd:NMTOKEN">
								<xsd:enumeration value = "Text"/>
								<xsd:enumeration value = "Image"/>
								<xsd:enumeration value = "Video"/>
								<xsd:enumeration value = "Audio"/>
								<xsd:enumeration value = "Applet"/>
								<xsd:enumeration value = "Application"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name = "contentreftype" default = "Base-64">
						<xsd:simpleType>
							<xsd:restriction base = "xsd:NMTOKEN">
								<xsd:enumeration value = "uri"/>
								<xsd:enumeration value = "entityref"/>
								<xsd:enumeration value = "Base-64"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
					<xsd:attribute name = "mimetype" use = "required" type = "xsd:string"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "tysource">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attribute name = "sourcetype" default = "imsdefault">
						<xsd:simpleType>
							<xsd:restriction base = "xsd:NMTOKEN">
								<xsd:enumeration value = "imsdefault"/>
								<xsd:enumeration value = "list"/>
								<xsd:enumeration value = "proprietary"/>
								<xsd:enumeration value = "standard"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "tyvalue">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "agentid" type = "xsd:string"/>
	<xsd:element name = "interpretscore">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "score">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "facsimile">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "countrycode" minOccurs = "0"/>
				<xsd:element ref = "areacode"/>
				<xsd:element ref = "indnumber"/>
				<xsd:element ref = "extnumber" minOccurs = "0"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "pager">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "countrycode" minOccurs = "0"/>
				<xsd:element ref = "areacode"/>
				<xsd:element ref = "indnumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "mobile">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "countrycode" minOccurs = "0"/>
				<xsd:element ref = "areacode"/>
				<xsd:element ref = "indnumber"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "temporalfield">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "privacyfield">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "definitionfield">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "unitsfield">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "keyfields">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref = "fieldlabel"/>
				<xsd:element ref = "fielddata"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name = "classification">
		<xsd:complexType>
			<xsd:simpleContent>
				<xsd:extension base = "xsd:string">
					<xsd:attributeGroup ref = "lang.attr"/>
				</xsd:extension>
			</xsd:simpleContent>
		</xsd:complexType>
	</xsd:element>
	
	<!-- ========================================================================================================================= -->
	
	
	<!-- EXTENSION DECLARATIONS ************************************************************************************************** -->
	
	<xsd:element name = "ext_accessibility"/>
	<xsd:element name = "ext_goal"/>
	<xsd:element name = "ext_interest"/>
	<xsd:element name = "ext_evaluation"/>
	<xsd:element name = "ext_learnerinfo"/>
	<xsd:element name = "ext_contentype"/>
	<xsd:element name = "ext_activity"/>
	<xsd:element name = "ext_affiliation"/>
	<xsd:element name = "ext_competency"/>
	<xsd:element name = "ext_date"/>
	<xsd:element name = "ext_definition"/>
	<xsd:element name = "ext_disability"/>
	<xsd:element name = "ext_eligibility"/>
	<xsd:element name = "ext_exrefrecord"/>
	<xsd:element name = "ext_identification"/>
	<xsd:element name = "ext_language"/>
	<xsd:element name = "ext_objectives"/>
	<xsd:element name = "ext_preference"/>
	<xsd:element name = "ext_product"/>
	<xsd:element name = "ext_qcl"/>
	<xsd:element name = "ext_relationship"/>
	<xsd:element name = "ext_role"/>
	<xsd:element name = "ext_securitykey"/>
	<xsd:element name = "ext_testimonial"/>
	<xsd:element name = "ext_transcript"/>
	
	<!-- ========================================================================================================================= -->
	
</xsd:schema>