tests/gh-issue-82/src/main/resources/test.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Parent">
        <xs:complexType>
            <xs:choice maxOccurs="unbounded">
                <xs:element ref="Child1"/>
                <xs:element ref="Child2"/>
            </xs:choice>
        </xs:complexType>
    </xs:element>

    <xs:element name="Child1" type="TestType"/>
    <xs:element name="Child2" type="TestType"/>

    <xs:simpleType name="TestType">
        <xs:restriction base="xs:string">
            <xs:length value="5"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>