basics/trunk/tests/issues/src/main/resources/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:basic="http://jaxb2-commons.dev.java.net/basic"
	xmlns:copyable="http://jaxb2-commons.dev.java.net/basic/copyable"
	xmlns:equals="http://jaxb2-commons.dev.java.net/basic/equals"
	xmlns:hashCode="http://jaxb2-commons.dev.java.net/basic/hashCode"
	xmlns:mergeable="http://jaxb2-commons.dev.java.net/basic/mergeable"
	xmlns:toString="http://jaxb2-commons.dev.java.net/basic/toString"
	xmlns:inheritance="http://jaxb2-commons.dev.java.net/basic/inheritance"
	xmlns:wildcard="http://jaxb2-commons.dev.java.net/basic/wildcard"
	jaxb:version="2.1"
	jaxb:extensionBindingPrefixes="basic copyable equals hashCode mergeable toString inheritance wildcard">

	<xs:annotation>
		<xs:appinfo>
			<jaxb:globalBindings generateIsSetMethod="true"
				localScoping="toplevel"
				fixedAttributeAsConstantProperty="true"/>
			<jaxb:schemaBindings>
				<jaxb:package name="org.jvnet.jaxb2_commons.tests.issues" />
			</jaxb:schemaBindings>
		</xs:appinfo>
	</xs:annotation>

	<xs:element name="issue16" type="issue16Type" />

	<xs:complexType name="issue16Type">
		<xs:sequence>
			<xs:any namespace="##any" processContents="lax" minOccurs="0"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:element name="issueJIIB1" type="issueJIIB1Type" />

	<xs:complexType name="issueJIIB1Type">
		<xs:annotation>
			<xs:appinfo>
				<inheritance:implements>java.lang.Cloneable</inheritance:implements>
			</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="notIgnored" type="xs:string" />
			<xs:element name="ignored" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<basic:ignored />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alsoIgnored" type="xs:string">
				<xs:annotation>
					<xs:appinfo>
						<copyable:ignored />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="issueJIIB2Type">
		<xs:sequence>
			<xs:element name="strings" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="issueJIIB3Type">
		<xs:attribute name="optionalIntAttribute" type="xs:int"
			use="optional" />
	</xs:complexType>

	<xs:complexType name="issueJIIB5Type">
		<xs:attribute name="boolean" type="xs:boolean" use="optional" />
	</xs:complexType>

	<xs:complexType name="issueJIIB6Type">
		<xs:sequence>
			<xs:element name="nested" maxOccurs="unbounded">
				<xs:complexType>
					<xs:annotation>
						<xs:appinfo>
							<!--jaxb:class name="IssueJIIB6TypeNested"/-->
						</xs:appinfo>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="value" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="issueJIIB8Type">
		<xs:sequence>
			<xs:element name="value" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="issueJIIB10Type" mixed="true">
		<xs:annotation>
			<xs:appinfo>
				<wildcard:lax/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexContent mixed="true">
			<xs:extension base="xs:anyType">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType> 

	<xs:complexType name="issueJIIB9Type">
		<xs:attribute name="value" type="xs:string" fixed="test" />
	</xs:complexType>

	<xs:element name="issueJIIB14">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class name="IssueJIIB14Element"/>
			</xs:appinfo>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="value" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="issueJIIB14JAXBElement" type="xs:string">
		<xs:annotation>
			<xs:appinfo>
				<jaxb:class name="IssueJIIB14JAXBElement"/>
			</xs:appinfo>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="issueJIIB16Type"/>

	<xs:complexType name="issueHJIII59AType">
		<xs:sequence>
			<xs:any>
				<xs:annotation>
					<xs:appinfo>
						<!--basic:ignored /-->
					</xs:appinfo>
				</xs:annotation>
			</xs:any>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="issueHJIII59BType">
		<xs:sequence>
			<xs:element name="any" type="xs:anyType">
				<xs:annotation>
					<xs:appinfo>
						<basic:ignored />
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>



	<xs:complexType name="issueJIIB35Type"> 
		<xs:sequence> 
			<xs:element name="name" type="xs:string" /> 
			<xs:choice> 
				<xs:element name="params" type="issueJIIB35SimpleType" /> 
				<xs:element name="userName" type="xs:string" /> 
			</xs:choice> 
		</xs:sequence> 
	</xs:complexType>

	<xs:simpleType name="issueJIIB35SimpleType"> 
		<xs:list itemType="xs:double" /> 
	</xs:simpleType> 

	<xs:element name="issueJIIB36">
		<xs:complexType>
			<xs:attribute name="test" type="xs:int" use="optional" />
		</xs:complexType>
	</xs:element>


</xs:schema>