hyperjaxb/ejb/tests/star/src/main/resources/STAR/Rev5.1.4/Resources/Nouns/InitiativeDownload.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
    User    Mod     Date      Description
    =============================================================================
    MV      CR268   20061109  Changed Description fields to multiple occurs
    MV      CR297   20070223  Replaced: Vehicle with InitiativeDownloadVehicleLineItem
    
-->

<xsd:schema xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns="http://www.starstandard.org/STAR/5" xmlns:star="http://www.starstandard.org/STAR/5" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
    <xsd:annotation>
        <xsd:documentation source="http://www.starstandard.org/STAR/5">
            This schema is made available under an Eclipse Public Licenses 1.0.  This
            license may be found in the STAR/License directory as well as the STAR BOD
            Guidelines.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="../Components/Common/Fields.xsd" />
    <xsd:include schemaLocation="../Components/Common/Meta.xsd" />
    <xsd:element name="InitiativeDownload" type="InitiativeDownloadType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeDownloadHeader" type="InitiativeDownloadHeaderType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Initial Download Header.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="InitiativeDetail" type="InitiativeDetailType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Initiative download detail.</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InitiativeDownloadType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="InitiativeDownloadHeader" />
            <xsd:element ref="InitiativeDetail" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InitiativeDownloadHeaderType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Header component contains summary information related to the entire InitiativeDownload Business Object Document.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType" />
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="InitiativeDetailType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">The Initiative component represents money an interest rate programs/incentives based on the vehicle or money programs/incentives based on an individual customers.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="InitiativeCategoryCode" />
            <xsd:element ref="InitiativeDownloadVehicleLineItem" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="GeographicalConstraints" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="InitiativeID" />
            <xsd:element ref="InitiativeDescription" minOccurs="1" maxOccurs="unbounded" />
            <xsd:element ref="InitiativeEffectiveDate" />
            <xsd:element ref="InitiativeEndDate" />
            <xsd:element ref="RequiredOptionGroup" minOccurs="0"/>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element ref="InitiativeRebateGroup" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element ref="InitiativeRateGroup" minOccurs="0" maxOccurs="unbounded" />
                </xsd:sequence>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="InitiativeDownloadVehicleLineItem" type="InitiativeDownloadVehicleLineItemType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding a vehicle for a particular initiative download</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="InitiativeDownloadVehicleLineItemType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail information regarding a vehicle for a particular initiative download.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Vehicle" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VDSCode" minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
