hyperjaxb/ejb/tests/star/src/main/resources/STAR/Rev5.1.4/Resources/Nouns/PartsShipment.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- User   MOD      Date              Description  
     =========================================================================
     DC     CRx     20060710          Changed PartsShipmentLine to optional
                                      This was done to allow use of the
                                      same Noun for the Get verb.
     MV     CRx     20061031          Commented out "DocumentID"
     DC     CR283   20061130          Updated ShipTo Party Component
     DC     CR283   20061201          Updated ShipToParty to use ShippingPermit.
     MV     MT371   20070802          Added: Header.TotalFreightChargeAmount, TotalHandlingAmount
                                      Added: Line.FreightChargeAmount, HandlingAmount, DealerNumberString, OrderTypeCode
     MV     MT371   20070829          Added: Line.OrderState
     MV     MT638   20080311          Added: Header.ShipmentCarrierDetail
                                      Deprecated: Header.ShipmentCarrierCode.  Use: ShipmentCarrierDetail                                                                  
-->
                                      
<xsd:schema xmlns:star="http://www.starstandard.org/STAR/5" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
    <xsd:annotation>
        <xsd:documentation source="http://www.starstandard.org/STAR/5">
            This schema is made available under an Eclipse Public Licenses 1.0.  This
            license may be found in the STAR/License directory as well as the STAR BOD
            Guidelines.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="../Components/Common/Fields.xsd" />
    <xsd:include schemaLocation="../Components/Common/Meta.xsd" />
    <xsd:element name="PartsShipment" type="PartsShipmentType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Parts Shipment</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartsShipmentHeader" type="PartsShipmentHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Parts Shipment Header</xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="PartsShipmentLine" type="PartsShipmentLineType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Parts Shipment Line
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="PartsShipmentType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 3.0 - Draft</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.1, STAR approved 04/20/2005; effective date 07/04/2005</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.0, STAR approved 05/07/2004; effective date 07/04/2004</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.0 STAR approved 01/10/2003; OAGI approved 3/15/2003; effective date 01/01/2003</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="PartsShipmentHeader" />
            <xsd:element ref="PartsShipmentLine" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PartsShipmentHeaderType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
<!--                    <xsd:element ref="DocumentID" minOccurs="0" /> -->
                    <xsd:element ref="TransactionTypeCode" minOccurs="0" />
                    <xsd:element ref="ShipDate" minOccurs="0" />
                    <xsd:element ref="ReferenceNumberString" minOccurs="0" />
                    <xsd:element ref="ShipmentCarrierCode" minOccurs="0">
                        <xsd:annotation>
                            <xsd:documentation source="http://www.starstandard.org">Deprecated. Use: ShipmentCarrierDetail</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>    
                    <xsd:element ref="PDC" minOccurs="0" />
                    <xsd:element ref="ShippingPDC" minOccurs="0" />
                    <xsd:element ref="TotalPartPiecesNumeric" minOccurs="0" />
                    <xsd:element ref="ProcessDate" minOccurs="0" />
                    <xsd:element ref="AccessoriesDiscountAmount" minOccurs="0" />
                    <xsd:element ref="OtherDiscountAmount" minOccurs="0" />
                    <xsd:element ref="TotalDiscountAmount" minOccurs="0" />
                    <xsd:element ref="Tax" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="TotalAmount" minOccurs="0" />
                    <xsd:element ref="SalesPromotionCode" minOccurs="0" />
                    <xsd:element ref="ProcessCode" minOccurs="0" />
                    <xsd:element ref="ManufacturerOrderNumberString" minOccurs="0" />
                    <xsd:element ref="ETADateTime" minOccurs="0" />
                    <xsd:element ref="FOBTermsString" minOccurs="0" />
                    <xsd:element ref="FreightTermsString" minOccurs="0" />
                    <xsd:element ref="ShippingPermit" minOccurs="0" />
                    <xsd:element ref="HTSSummary" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="Boxing" minOccurs="0" />
                    <xsd:element ref="PartsShipmentLineBoxingTypeCode" minOccurs="0" />
                    <xsd:element ref="ShipPriorityCode" minOccurs="0" />
                    <xsd:element ref="TotalFreightChargeAmount" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="TotalHandlingAmount" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="ShipmentCarrierDetail" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="PartsShipmentLineType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="LineNumberString" minOccurs="0" />
            <xsd:element ref="ShipmentNumberString" minOccurs="0" />
            <xsd:element ref="PartsProductItem" minOccurs="0" />
            <xsd:element ref="OrderQuantity" minOccurs="0" />
            <xsd:element ref="BackOrderQuantity" minOccurs="0" />
            <xsd:element ref="QuantityShipped" minOccurs="0" />
            <xsd:element ref="UnitPackQuantity" minOccurs="0" />
            <xsd:element ref="PartDimensions" minOccurs="0" />
            <xsd:element ref="FormerPartNumberID" minOccurs="0" />
            <xsd:element ref="PartCountryCode" minOccurs="0" />
            <xsd:element ref="Pricing" minOccurs="0" />
            <xsd:element ref="OrderReferenceNumberString" minOccurs="0" />
            <xsd:element ref="DiscountCode" minOccurs="0" />
            <xsd:element ref="DiscountPercentage" minOccurs="0" />
            <xsd:element ref="TaxIndicator" minOccurs="0" />
            <xsd:element ref="Tax" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="ReturnReasonCode" minOccurs="0" />
            <xsd:element ref="RestockCode" minOccurs="0" />
            <xsd:element ref="ProcessDate" minOccurs="0" />
            <xsd:element ref="SalesPromotionCode" minOccurs="0" />
            <xsd:element ref="ProcessCode" minOccurs="0" />
            <xsd:element ref="InventoryMovementDemandCode" minOccurs="0" />
            <xsd:element ref="MiscellaneousNotes" minOccurs="0" />
            <xsd:element ref="ManufacturerOrderNumberString" minOccurs="0" />
            <xsd:element ref="HTSCode" minOccurs="0" />
            <xsd:element ref="TotalSubjectToDutyAmount" minOccurs="0" />
            <xsd:element ref="ExtendedCoreAmount" minOccurs="0" />
            <xsd:element ref="CoreUnitAmount" minOccurs="0" />
            <xsd:element ref="ETADate" minOccurs="0" />
            <xsd:element ref="ConveyanceNumberString" minOccurs="0" />
            <xsd:element ref="CaseMarks" minOccurs="0" />
            <xsd:element ref="CaseCartonNumberString" minOccurs="0" />
            <xsd:element ref="RackContainerTypeString" minOccurs="0" />
            <xsd:element ref="RackContainerQuantityNumeric" minOccurs="0" />
            <xsd:element ref="RackContainerNumberString" minOccurs="0" />
            <xsd:element ref="RackContainerDepositAmount" minOccurs="0" />
            <xsd:element ref="ETADateTime" minOccurs="0" />
            <xsd:element ref="ShipPriorityCode" minOccurs="0" />
            <xsd:element ref="OrderLineNumberString" minOccurs="0" />
            <xsd:element ref="FreightChargeAmount" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="HandlingAmount" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="OrderTypeCode" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="DealerOrderNumberString" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="OrderState" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
