hyperjaxb/ejb/tests/star/src/main/resources/STAR/Rev5.1.4/Resources/Nouns/VehicleServiceHistory.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
   User    Mod     Date      Description
   ===========================================================================
   DC            20061031    Removed DocumentID
   DC      CR283 20061202    Updated Party Components
   MV      CR297 20070223    Replaced: Header.HistoryVehicle with VehicleServiceHistoryVehicleLineItem
   DC      CR353 20070417    Added:  ServiceRepairWarningDescription, SoldToParty, ShipToParty, InServiceDealerParty
                                     DeliveryDealerParty, InService
                                     ServiceBulletin, RelatedRepairServiceBulletin 
 -->
<xsd:schema xmlns:star="http://www.starstandard.org/STAR/5" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns="http://www.starstandard.org/STAR/5" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all">
    <xsd:annotation>
        <xsd:documentation source="http://www.starstandard.org/STAR/5">
            This schema is made available under an Eclipse Public Licenses 1.0.  This
            license may be found in the STAR/License directory as well as the STAR BOD
            Guidelines.
        </xsd:documentation>
    </xsd:annotation>
    <xsd:include schemaLocation="../Components/Common/Fields.xsd" />
    <xsd:include schemaLocation="../Components/Common/Meta.xsd" />
    <xsd:element name="VehicleServiceHistory" type="VehicleServiceHistoryType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Vehicle Service History
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleServiceHistoryHeader" type="VehicleServiceHistoryHeaderType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Vehicle Service History Header
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:element name="VehicleServiceHistoryDetail" type="VehicleServiceHistoryDetailType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Vehicle Service History Detail
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VehicleServiceHistoryType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 4.0 - Draft</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 3.0, STAR approved 04/20/2005; effective date 07/04/2005</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 2.0, STAR approved 05/07/2004; effective date 07/04/2004</xsd:documentation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Version 1.0, STAR approved 7/31/2002; OAGI approved 8/16/2002; effective date 1/01/2003</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="VehicleServiceHistoryHeader" />
            <xsd:element ref="VehicleServiceHistoryDetail" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="VehicleServiceHistoryHeaderType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexContent>
            <xsd:extension base="HeaderBaseType">
                <xsd:sequence>
                    <xsd:element ref="ServiceDealerParty" minOccurs="0" />
                    <xsd:element ref="OwnerParty" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="Co-OwnerParty" minOccurs="0" maxOccurs="unbounded"/> 
                    <xsd:element ref="PrimaryDriver" minOccurs="0" />
                    <xsd:element ref="SecondaryPrimaryDriver" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="VehicleServiceHistoryVehicleLineItem"/>
                    <xsd:element ref="Warranty" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="ServiceContract" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="CASE" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="ServiceCampaign" minOccurs="0" maxOccurs="unbounded" />
                    <xsd:element ref="ServiceBulletin" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="RelatedRepairServiceBulletin" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="ServiceRepairWarningDescription" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element ref="ShipToParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="SoldToParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="InServiceDealerParty" minOccurs="0" maxOccurs="1"/>
                    <xsd:element ref="DeliveryDealerParty" minOccurs="0" maxOccurs="1"/>
                    
               </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="VehicleServiceHistoryDetailType">
        <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.starstandards.org/STAR">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">Detail for each service visit requested</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <!--<xsd:element ref="DocumentID" minOccurs="0" />-->
            <xsd:element ref="RepairOrderOpenedDate" minOccurs="0" />
            <xsd:element ref="RepairOrderCompletedDate" />
            <xsd:element ref="ServiceAdvisorParty" minOccurs="0" />
            <xsd:element ref="MileageInDistance" minOccurs="0" />
            <xsd:element ref="MileageOutDistance" minOccurs="0" />
            <xsd:element ref="OrderNotes" minOccurs="0" />
            <xsd:element ref="OrderInternalNotes" minOccurs="0" />
            <xsd:element ref="ServiceDealerParty" minOccurs="0" />
            <xsd:element ref="ServiceTypeCode" />
            <xsd:element ref="Diagnostics" minOccurs="0" maxOccurs="unbounded" />
            <xsd:element ref="RentLoaner"  minOccurs="0" />
            <xsd:element name="WarrantyClaim" type="WarrantyClaimHistoryType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Deprecated: Use WarrantyClaimHistory.   This field is deprecated to align with the STAR 5
                        naming and design rules.   It will be removed in the next major version of STAR.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="Job" type="JobHistoryType" minOccurs="0" maxOccurs="unbounded">
                <xsd:annotation>
                    <xsd:documentation>
                        Deprecated: Use JobHistory.  This field is deprecated to align with the STAR 5 naming and
                        design rules.  It will be removed in the next major version of STAR.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element ref="WarrantyClaimHistory" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="JobHistory" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="VehicleServiceHistoryVehicleLineItem" type="VehicleServiceHistoryVehicleLineItemType">
        <xsd:annotation>
            <xsd:documentation source="http://www.starstandard.org/STAR/5">
                Detail information regarding a vehicle for a particular service appointment.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="VehicleServiceHistoryVehicleLineItemType">
        <xsd:annotation xmlns="http://www.starstandards.org/STAR" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:documentation source="http://www.starstandard.org/STAR/5">.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="Vehicle" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="BrandedInfo" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="DeliveryDate" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="DeliveryDistanceMeasure" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="IgnitionKeyNumberString" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="NonUSVehicleIndicator" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="OdometerStatus" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="RestrictionIndicator" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="RestrictionDescription" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="TelematicsServiceIndicator" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleDemoIndicator" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleStockString" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="LicenseNumberString" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="CertifiedPreownedIndicator" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ImageAttachment" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="SoldAreaEmissionCode" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleOriginCountryCode" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="Option" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="VehicleShipDate" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleBuildOrderNumberID" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleBuildDate" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleBuildPlantCode" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleBuildPlantCodeDescription" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="VehicleMajorPartsProductItem" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="DeliveryTypeCode" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="DeliveryTypeDescription" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element ref="PreDeliveryInspectionStatusCode" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="ServiceAgentInvoiceDate" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="InService" minOccurs="0" maxOccurs="1"/>
            <xsd:element ref="VehicleOrderTypeString" minOccurs="0" maxOccurs="1"/>
                
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
