ejb/tests/ota/src/main/resources/_2008A_XML/OTA_PkgBookRS.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="3.006" id="OTA2008A">	<xs:include schemaLocation="OTA_PkgReservation.xsd"/>	<xs:element name="OTA_PkgBookRS">		<xs:annotation>			<xs:documentation xml:lang="en">Confirmation of a package booking.</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:choice>				<xs:sequence>					<xs:element name="Success" type="SuccessType">						<xs:annotation>							<xs:documentation xml:lang="en">The presence of this element indicates that the receiving system has successfully processed the preceding request message.</xs:documentation>						</xs:annotation>					</xs:element>					<xs:element name="Warnings" type="WarningsType" minOccurs="0">						<xs:annotation>							<xs:documentation xml:lang="en">The presence of this element indicates that, while the preceding request message has been successfully processed, the requeat may not have been fully satisfied.</xs:documentation>						</xs:annotation>					</xs:element>					<xs:element name="PackageReservation" type="PkgReservation">						<xs:annotation>							<xs:documentation xml:lang="en">Details of a Package Holiday reservation object.</xs:documentation>						</xs:annotation>					</xs:element>					<xs:element ref="TPA_Extensions" minOccurs="0"/>				</xs:sequence>				<xs:sequence>					<xs:element name="Errors" type="ErrorsType">						<xs:annotation>							<xs:documentation xml:lang="en">The presence of this element indicates that the receiving system has been unable to process preceding request message.</xs:documentation>						</xs:annotation>					</xs:element>				</xs:sequence>			</xs:choice>			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>			<xs:attributeGroup ref="CurrencyCodeGroup"/>		</xs:complexType>	</xs:element></xs:schema>