maven-plugin/tests/gh-issue-23/two-non-strict/src/main/resources/one/a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:a" elementFormDefault="qualified"
	xmlns:a="urn:a"
	xmlns:b="urn:b"
	xmlns:p="urn:p">

	<import namespace="urn:b" schemaLocation="b.xsd"/>
	<import namespace="urn:p" schemaLocation="http://www.ab.org/two/p.xsd"/>
	
	<element name="a" type="a:AType"/>
	<complexType name="AType">
		<sequence>
			<element name="s" type="string"/>
			<element name="b" type="b:BType"/>
		</sequence>
	</complexType>
</schema>
