hyperjaxb/ejb/tests/star/src/main/resources/STAR/Rev5.1.4/BODs/Developer/GetPartsLocator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1"
	xmlns:oacl="http://www.openapplications.org/oagis/9/codelists"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0"
	xmlns="http://www.starstandard.org/STAR/5"
	xmlns:star="http://www.starstandard.org/STAR/5"
	xmlns:ccts="urn:un:unece:uncefact:documentation:1.1"
	xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1"
	xmlns:scl="http://www.starstandard.org/STAR/5/codelists"
	xmlns:oagis="http://www.openapplications.org/oagis/9"
	targetNamespace="http://www.starstandard.org/STAR/5"
	elementFormDefault="qualified"
	attributeFormDefault="unqualified"
	blockDefault="#all">
	<xsd:annotation>
		<xsd:documentation source="http://www.starstandard.org/STAR/5">
			This schema is made available under an Eclipse Public Licenses 1.0.  This
			license may be found in the STAR/License directory as well as the STAR BOD
			Guidelines.
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include
		schemaLocation="../../Resources/Nouns/PartsLocator.xsd" />
	<!--Global Fields that reference Component types--><!--Global Elements based on Components-->
	<xsd:element name="GetPartsLocator" type="GetPartsLocatorType">
		<xsd:annotation>
			<xsd:documentation source="http://www.starstandard.org/STAR/5">Get Parts Locator</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GetPartsLocatorDataArea"
		type="GetPartsLocatorDataAreaType">
		<xsd:annotation>
			<xsd:documentation source="http://www.starstandard.org/STAR/5">
				Get Parts Locator Data Area
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:complexType name="GetPartsLocatorType">
		<xsd:annotation>
			<xsd:appinfo>STAR unique BOD</xsd:appinfo>
			<xsd:documentation source="http://www.starstandard.org/STAR/5">Get Parts Locator</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="BusinessObjectDocumentType">
				<xsd:sequence>
					<xsd:element ref="GetPartsLocatorDataArea" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GetPartsLocatorDataAreaType">
		<xsd:annotation>
			<xsd:documentation source="http://www.starstandard.org/STAR/5">Get Parts Locator Data Area</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="Get" />
			<xsd:element ref="PartsLocator" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>