hyperjaxb/ejb/tests/customType/src/main/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:typetest="http://www.typetest.com/schema" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb" targetNamespace="http://www.typetest.com/schema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="TypeTest" type="typetest:TypeTestType"/>
	<xs:complexType name="TypeTestType">
		<xs:sequence>
			<xs:element name="Value" type="xs:unsignedLong"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>

