ejb/tests/fpml-pretrade/src/main/resources/fpml-variance-swaps-5-0.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- 
        == Copyright (c) 2002-2007. All rights reserved. 
        == Financial Products Markup Language is subject to the FpML public license. 
        == A copy of this license is available at http://www.fpml.org/license/license.html
-->
<!--View is pretrade-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns="http://www.fpml.org/FpML-5-0/pretrade" xmlns:fpml-annotation="http://www.fpml.org/annotation" targetNamespace="http://www.fpml.org/FpML-5-0/pretrade" ecore:documentRoot="FpML" ecore:nsPrefix="pre" ecore:package="org.fpml.pretrade" version="$Revision: 2527 $" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:include schemaLocation="fpml-eq-shared-5-0.xsd" />
  <xsd:complexType name="VarianceAmount">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Calculation of a Variance Amount.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="CalculatedAmount">
        <xsd:sequence>
          <xsd:element name="variance" type="Variance">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies Variance.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VarianceLeg">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A type describing return which is driven by a Variance Calculation.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="DirectionalLegUnderlyerValuation">
        <xsd:sequence>
          <xsd:element name="amount" type="VarianceAmount" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Specifies, in relation to each Equity Payment Date, the amount to which the Equity Payment Date relates. Unless otherwise specified, this term has the meaning defined in the ISDA 2002 Equity Derivatives Definitions.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VarianceSwap">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">A Variance Swap modelled using a single netted leg.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="NettedSwapBase">
        <xsd:sequence>
          <xsd:element name="varianceLeg" type="VarianceLeg">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Variance Leg.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="VarianceSwapOption">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">An Option on a Variance Swap.</xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="OptionBaseExtended">
        <xsd:sequence>
          <xsd:element name="strike" type="OptionNumericStrike" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Strike of the Variance Swap Option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="varianceSwap" type="VarianceSwap">
            <xsd:annotation>
              <xsd:documentation xml:lang="en">Variance Swap which is the underlyer of this Option.</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="varianceSwap" type="VarianceSwap" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies the structure of a variance swap.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="varianceSwapOption" type="VarianceSwapOption" substitutionGroup="product">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies the structure of a variance swap option.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>

