hyperjaxb/ejb/tests/episodes/b/src/main/resources/a.xsd

<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="a"
	xmlns:a="a"
	elementFormDefault="qualified">

	<xsd:element name="a" type="a:AType"/>

	<xsd:complexType name="AType">
		<xsd:sequence>
			<xsd:element name="a" type="a:A1Type"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="A1Type">
		<xsd:sequence>
			<xsd:element name="a1" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="issueHJIII24Animal">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>