basics/tests/ignoring/src/main/resources/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
	xmlns:basic="http://jaxb2-commons.dev.java.net/basic"
	xmlns:copyable="http://jaxb2-commons.dev.java.net/basic/copyable"
	xmlns:equals="http://jaxb2-commons.dev.java.net/basic/equals"
	xmlns:hashCode="http://jaxb2-commons.dev.java.net/basic/hashCode"
	xmlns:mergeable="http://jaxb2-commons.dev.java.net/basic/mergeable"
	xmlns:toString="http://jaxb2-commons.dev.java.net/basic/toString"
	jaxb:version="1.0"
	jaxb:extensionBindingPrefixes="basic copyable equals hashCode mergeable toString">


	<xs:complexType name="copyable">
		<xs:sequence>
			<xs:element name="notIgnored" type="xs:string"/>
			<xs:element name="ignored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><basic:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alsoIgnored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><copyable:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="equals">
		<xs:sequence>
			<xs:element name="notIgnored" type="xs:string"/>
			<xs:element name="ignored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><basic:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alsoIgnored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><equals:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="hashCode">
		<xs:sequence>
			<xs:element name="notIgnored" type="xs:string"/>
			<xs:element name="ignored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><basic:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alsoIgnored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><hashCode:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="mergeable">
		<xs:sequence>
			<xs:element name="notIgnored" type="xs:string"/>
			<xs:element name="ignored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><basic:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alsoIgnored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><mergeable:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="toString">
		<xs:sequence>
			<xs:element name="notIgnored" type="xs:string"/>
			<xs:element name="ignored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><basic:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="alsoIgnored" type="xs:string">
				<xs:annotation>
					<xs:appinfo><toString:ignored/></xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>




</xs:schema>