maven-plugin/tests/gh-issue-19/a/src/main/resources/a/a.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:a" elementFormDefault="qualified"
	xmlns:a="urn:a">

	<element name="a" type="a:AType"/>
	<complexType name="AType">
		<sequence>
			<element name="s" type="string"/>
		</sequence>
	</complexType>
</schema>
