hyperjaxb/ejb/tests/derby/src/main/resources/issues.xsd

<?xml version="1.0"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="https://jakarta.ee/xml/ns/jaxb">

	<xs:element name="issue137Element" type="issue137"/>

	<xs:complexType name="issue137">
		<xs:sequence>
			<xs:element name="decimal" type="xs:decimal"/>
			<xs:element name="float" type="xs:float"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema> 