hyperjaxb/ejb/tests/star/src/main/resources/STAR/Rev5.1.4/WSDL/Templates/ProcessPartsPickList.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:starws="http://www.starstandards.org/webservices/2005/10/transport"
                  xmlns:starbindings="http://www.starstandards.org/webservices/2005/10/transport/bindings"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:star="http://www.starstandard.org/STAR/5"
                  targetNamespace="http://www.starstandards.org/webservices/2005/10/transport/bindings">
   <wsdl:documentation>Note: That if implementing the STAR Transport 2005/10 version of the WSDL and including a STAR 5 payload.  Then
                the correct namespace for the STAR 5 BODs needs to be specified.  Recommended prefix would be star5 and the namespace of
                http://www.starstandard.org/STAR/5.  It should also be noted that the OAGI namespace may need to be specified as well.  This namespace
                is http://www.openapplications.org/oagis/9
            </wsdl:documentation>
   <wsdl:types>
      <xsd:schema xmlns="http://www.starstandard.org/STAR/5"
                  targetNamespace="http://www.starstandard.org/STAR/5"
                  elementFormDefault="qualified"
                  attributeFormDefault="unqualified">
         <xsd:include schemaLocation="../../BODs/Developer/ProcessPartsPickList.xsd"/>
         <xsd:include schemaLocation="../../BODs/Developer/AcknowledgePartsPickList.xsd"/>
      </xsd:schema>
      <xsd:schema xmlns="http://www.starstandards.org/webservices/2005/10/transport"
                  targetNamespace="http://www.starstandards.org/webservices/2005/10/transport"
                  elementFormDefault="qualified">
         <xsd:include schemaLocation="STARWSDLDataTypes.xsd"/>
         <xsd:import namespace="http://www.starstandard.org/STAR/5"/>
         <xsd:complexType name="ProcessPartsPickListPayload">
            <xsd:annotation>
               <xsd:documentation source="http://www.starstandard.org/">The Payload is a general purpose wrapper for the content that is transmitted as part of the soap-env:body.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="content" type="starws:ProcessPartsPickListContent" minOccurs="0"
                            maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation source="http://www.starstandard.org">Describes the type of payload included.  This item is optional.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
            <xsd:anyAttribute/>
         </xsd:complexType>
         <xsd:complexType name="AcknowledgePartsPickListPayload">
            <xsd:annotation>
               <xsd:documentation source="http://www.starstandard.org/">The Payload is a general purpose wrapper for the content that is transmitted as part of the soap-env:body.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element name="content" type="starws:AcknowledgePartsPickListContent" minOccurs="0"
                            maxOccurs="unbounded">
                  <xsd:annotation>
                     <xsd:documentation source="http://www.starstandard.org">Describes the type of payload included.  This item is optional.</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
            <xsd:anyAttribute/>
         </xsd:complexType>
         <xsd:complexType name="ProcessPartsPickListContent">
            <xsd:annotation>
               <xsd:documentation source="http://www.starstandard.org">Contains the content of a particular payload.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element ref="star:ProcessPartsPickList" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation source="http://www.starstandard.org">Get Parts Order</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element ref="starws:attachment" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required">
               <xsd:annotation>
                  <xsd:documentation source="http://www.starstandard.org">A unique id that identifies the content being sent.  This corresponds to the id specified in the manifest.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute/>
         </xsd:complexType>
         <xsd:complexType name="AcknowledgePartsPickListContent">
            <xsd:annotation>
               <xsd:documentation source="http://www.starstandard.org">Contains the content of a particular payload.</xsd:documentation>
            </xsd:annotation>
            <xsd:sequence>
               <xsd:element ref="star:AcknowledgePartsPickList" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation source="http://www.starstandard.org">Get Parts Order</xsd:documentation>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element ref="starws:attachment" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="id" type="xsd:ID" use="required">
               <xsd:annotation>
                  <xsd:documentation source="http://www.starstandard.org">A unique id that identifies the content being sent.  This corresponds to the id specified in the manifest.</xsd:documentation>
               </xsd:annotation>
            </xsd:attribute>
            <xsd:anyAttribute/>
         </xsd:complexType>
         <!--Global Elements used by the Bindings--><xsd:element name="ProcessMessage">
            <xsd:annotation>
               <xsd:documentation source="http://www.starstandard.org">
                    Process Message Input
                </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="payload" type="starws:ProcessPartsPickListPayload" minOccurs="0"
                               maxOccurs="1"
                               form="qualified"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="ProcessMessageResponse">
            <xsd:annotation>
               <xsd:documentation source="http://www.starstandard.org">
                    Response output
                </xsd:documentation>
            </xsd:annotation>
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="payload" type="starws:AcknowledgePartsPickListPayload" minOccurs="0"
                               maxOccurs="1"
                               form="qualified"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PutMessage">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="payload" type="starws:ProcessPartsPickListPayload" minOccurs="0"
                               maxOccurs="1"
                               form="qualified"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="PullMessageResponse">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="payload" type="starws:AcknowledgePartsPickListPayload" minOccurs="0"
                               maxOccurs="1"
                               form="qualified"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="ProcessMessageIn">
      <wsdl:part name="parameters" element="starws:ProcessMessage"/>
   </wsdl:message>
   <wsdl:message name="ProcessMessageOut">
      <wsdl:part name="parameters" element="starws:ProcessMessageResponse"/>
   </wsdl:message>
   <wsdl:message name="PutMessageIn">
      <wsdl:part name="parameters" element="starws:PutMessage"/>
   </wsdl:message>
   <wsdl:message name="PutMessageOut">
      <wsdl:part name="parameters" element="starws:PutMessageResponse"/>
   </wsdl:message>
   <wsdl:message name="PullMessageIn">
      <wsdl:part name="parameters" element="starws:PullMessage"/>
   </wsdl:message>
   <wsdl:message name="PullMessageOut">
      <wsdl:part name="parameters" element="starws:PullMessageResponse"/>
   </wsdl:message>
   <wsdl:message name="ManifestHeader">
      <wsdl:part name="header" element="starws:payloadManifest"/>
   </wsdl:message>
   <wsdl:portType name="starTransportPortTypes">
      <wsdl:operation name="ProcessMessage">
         <wsdl:input message="starbindings:ProcessMessageIn"/>
         <wsdl:output message="starbindings:ProcessMessageOut"/>
      </wsdl:operation>
      <wsdl:operation name="PutMessage">
         <wsdl:input message="starbindings:PutMessageIn"/>
         <wsdl:output message="starbindings:PutMessageOut"/>
      </wsdl:operation>
      <wsdl:operation name="PullMessage">
         <wsdl:input message="starbindings:PullMessageIn"/>
         <wsdl:output message="starbindings:PullMessageOut"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="starTransport" type="starbindings:starTransportPortTypes">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="ProcessMessage">
         <soap:operation soapAction="http://www.starstandards.org/webservices/2005/10/transport/operations/ProcessMessage"/>
         <wsdl:input>
            <soap:header message="starbindings:ManifestHeader" part="header" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header message="starbindings:ManifestHeader" part="header" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PutMessage">
         <soap:operation soapAction="http://www.starstandards.org/webservices/2005/10/transport/operations/PutMessage"
                         style="document"/>
         <wsdl:input>
            <soap:header message="starbindings:ManifestHeader" part="header" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="PullMessage">
         <soap:operation soapAction="http://www.starstandards.org/webservices/2005/10/transport/operations/PullMessage"
                         style="document"/>
         <wsdl:input>
            <soap:body use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:header message="starbindings:ManifestHeader" part="header" use="literal"/>
            <soap:body use="literal"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="ProcessPartsPickListWebService">
      <wsdl:port name="ProcessPartsPickListStarTransport" binding="starbindings:starTransport"><!--Note to implementors. You will need to change or override the soap address as appropriate.--><soap:address location="http://www.example.org/"/>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>