hyperjaxb/ejb/tests/ota/src/main/resources/_2008A_XML/OTA_CruiseFastSellRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.002" id="OTA2008A">
	<xs:include schemaLocation="OTA_CruiseCommonTypes.xsd"/>
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA 
specification are made available according to the terms defined by the OTA 
License Agreement at 
http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_CruiseFastSellRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Fast Sell Request message requests cabin hold, cabin availability, category availability, and optionally an inclusive package.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of sale 
object.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GuestCounts" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies guest quantity and guest types.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GuestCount" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Categorization of all guests in the request.  The total number of guests will equal the sum of the Quantity attribute of all GuestCount objects in this collection and assumes that the Guest Age or the Guest Code will be used to determine how each Guest should be fared.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="TravelerCountGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">The quantity of guests of a category.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SelectedSailing">
					<xs:annotation>
						<xs:documentation xml:lang="en">Contains information related to the selected sailing.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SelectedFare" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the fare code and the group code. Fare codes are specific to cruise lines.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="FareGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the fare code and the group code. Fare codes are specific to cruise lines.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="SelectedCategory" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the category for the Fast Sell.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SelectedCabin" minOccurs="0" maxOccurs="4">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the selected Cabins</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="CruiseCabinGroup"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attributeGroup ref="CruiseCategoryDetailGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Contains the berth and price category codes.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
							<xs:element name="InclusivePackageOption" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the package for the Fast Sell. Usually the request will query for  packages that are included in the cruise sailing offering (inclusive packages).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="CruisePackageGroup">
										<xs:annotation>
											<xs:documentation xml:lang="en">Specifies the package for this sailing.</xs:documentation>
										</xs:annotation>
									</xs:attributeGroup>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attributeGroup ref="SelectedSailingGroup"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Guest" type="GuestType" minOccurs="0" maxOccurs="9">
					<xs:annotation>
						<xs:documentation xml:lang="en">Selected guest mode of transportation available for current sailing and current fares.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Currency" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Currency in which the fare will be returned.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="CurrencyCodeGroup"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="SearchQualifiers" type="SearchQualifierType" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">In this message Past Passenger Number and Residency can be used to hold the Cabin.
NOTE: Other Fields may not be used in this message
</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="TPA_Extensions" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">The standard attributes that appear on the root element for all OTA payloads. </xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
</xs:schema>
