hyperjaxb/ejb/tests/ota/src/main/resources/_2008A_XML/OTA_HotelInvBlockNotifRS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.006" id="OTA2008A">
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	
	
	
	
	
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_HotelInvBlockNotifRS">
		<xs:annotation>
			<xs:documentation xml:lang="en">The OTA_HotelInvBlockNotifRS message returns an indication of the status of processing the OTA_HotelInvBlockNotifRQ message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:choice>
					<xs:sequence>
						<xs:element name="Success" type="SuccessType"/>
						<xs:element name="Warnings" type="WarningsType" minOccurs="0"/>
						<xs:element name="InvBlockCodeRefs" minOccurs="0">
							<xs:annotation>
								<xs:documentation xml:lang="en">This accommodates responses for multiple inventory blocks.</xs:documentation>
							</xs:annotation>
							<xs:complexType>
								<xs:complexContent>
									<xs:extension base="InvBlockCodeRefType">
										<xs:sequence>
											<xs:element name="InvBlockCodeRef" type="InvBlockCodeRefType" maxOccurs="unbounded">
												<xs:annotation>
													<xs:documentation xml:lang="en">This contains inventory block codes used between the sending and receiving systems.  It acknowledges  the creation of the block to the sender and may provide codes for cross reference.</xs:documentation>
												</xs:annotation>
											</xs:element>
										</xs:sequence>
									</xs:extension>
								</xs:complexContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
					<xs:element name="Errors" type="ErrorsType"/>
				</xs:choice>
				<xs:element ref="TPA_Extensions" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="InvBlockCodeRefType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Used to return the inventory block codes and inventory block grouping codes
from the inventory system back to the requesting system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HotelRef" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="HotelReferenceGroup">
						<xs:annotation>
							<xs:documentation xml:lang="en">This is used to indicate to which location this inventory block information applies.</xs:documentation>
						</xs:annotation>
					</xs:attributeGroup>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="InvBlockCode" type="StringLength1to32" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the inventory block; code assigned by the originator of the request message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvBlockGroupingCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">Identifies the inventory block group; code assigned by the originator of the request message.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvSystemInvBlockCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The InvBlockCode assigned by the inventory system in response to an inventory block notification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="InvSystemInvBlockGroupingCode" type="StringLength1to16" use="optional">
			<xs:annotation>
				<xs:documentation xml:lang="en">The InvBlockGroupingCode assigned by the inventory system in response to an inventory block notification.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
