hyperjaxb/ejb/tests/ota/src/main/resources/_2008A_XML/OTA_MeetingProfile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.010" id="OTA2003A2008A">
	<xs:include schemaLocation="OTA_HotelCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:attributeGroup name="ArrivalInfoGroup">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is the preferred start and end date of the meeting</xs:documentation>
		</xs:annotation>
		<xs:attribute name="ArrivalDate" type="DateOrDateTimeType" use="required">
			<xs:annotation>
				<xs:documentation xml:lang="en">Preferred specific arrival date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="DepartureDate" type="DateOrDateTimeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">Preferred specific departure date.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:attributeGroup>
	<xs:element name="MeetingProfile" type="MeetingProfileType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for the Meeting Profile.  Meeting Profiles messages can describe the following business objects: RFP,Lead,Booking,FutureBooking, and History.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AccountDescriptiveContentType">
		<xs:annotation>
			<xs:documentation xml:lang="en">The Account is the sponsor or "client" for whom the meeting is help</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Addresses" type="AddressesType" minOccurs="0"/>
			<xs:element name="ContactsInfo" type="ContactsInfoType" minOccurs="0"/>
			<xs:element name="URL" type="URL_Type" minOccurs="0"/>
			<xs:element name="Organization" type="CompanyNameType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="DandBCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Dun and Bradstreet number.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IATACode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">International Air Transport Association reference number</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="IndustryCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code used to define a type of industry as represented by the SIC and NAIC codes (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GeoMarketCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the geographic market that the account belongs to (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="LanguageCode" type="xs:language">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the language used by the account.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MarketSegmentCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the market segment that the account belongs to (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="AltDateType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Altdate specifies a particular start and end date.  Multiples can be specified along with an indication of the desirability of the alternative</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DateTimeSpanType">
				<xs:attribute name="PreferenceID" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">An alphanumeric field used to identify ranking of an alternative arrival date. (First Option, Second Option, etc...)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AltRangeType">
		<xs:annotation>
			<xs:documentation xml:lang="en">If a particualr date alternative is too specific then a range of desired alternative dates can be supplied</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DateTimeSpanType">
				<xs:attribute name="DOWCode" type="DayOfWeekType"/>
				<xs:attribute name="PreferenceID" type="StringLength1to16">
					<xs:annotation>
						<xs:documentation xml:lang="en">An alphanumeric field used to identify ranking of an alternative arrival date. (First Option, Second Option, etc...)</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AlternateDatesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This is a collection of alternate arrival dates.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AlternateDate" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">This represents optional starting and ending dates.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:choice>
						<xs:element name="AltDate" type="AltDateType"/>
						<xs:element name="AltRange" type="AltRangeType"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CateringEventType">
		<xs:annotation>
			<xs:documentation xml:lang="en">catering events that are part of this meeting  (breakfast, breakout, dinner, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MeetingRoom" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="CodeListGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Revenues" type="RevenuesType" minOccurs="0"/>
			<xs:element name="EventInfo" minOccurs="0">
				<xs:complexType>
					<xs:attribute name="EventNameText" type="StringLength1to64">
						<xs:annotation>
							<xs:documentation xml:lang="en">The name of the event.  This name may appear different than the posting name.	</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="EventStatusCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">The status code of the event normally defined by the acceptance of a proposal or contract.  	(The 	code 	values are TBD).</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="EventTypeCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">The code that defines the type of event.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SetupTypeCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">The code that defines the setup of the event.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SpecialSetupTypeCode" type="StringLength1to16">
						<xs:annotation>
							<xs:documentation xml:lang="en">code that defines the special setup of the event. A special setup is normally defined as a setup 	the 		decreases a setup's capacity. (eg. Rear Projection)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="AgreedAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Attendance for and event as agreed upon with the client.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ActualAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">The actual attendance of an event as define during/after an event is taking place.		</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ExpectedAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Expected attendance is the attendance figure that is subjective and usually derived from the 	agreed 		figure and past experiences.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GuaranteedAttendanceQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Guarantee attendance is the attendance figure that is contractually agreed upon by the client and the property.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="Moveable" type="xs:boolean">
						<xs:annotation>
							<xs:documentation xml:lang="en">Can the event be moved to another function room ? (Yes|No)</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="SpecialRequestText" type="StringLength1to64">
						<xs:annotation>
							<xs:documentation xml:lang="en">This field allows for a free form textual description of any Special Requests regarding the setup 	of 	the 	event.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="StartDateTime" type="DateOrDateTimeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">Start time of the event using the format specified by ISO 8601:YYY-MM-DDThh: mm: ssZ with time values using the 24-hour (military) clock. For example: March-31-2001, 4:10:00 pm UTC becomes 2001-03-31T16:10:00Z.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EndDateTime" type="DateOrDateTimeType">
			<xs:annotation>
				<xs:documentation xml:lang="en">End time of the event. Same time format as StartTime.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SetupTime" type="xs:time">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of time that is required to Setup an event.  This time is considered above and beyond the event start and end times.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TeardownTime" type="xs:time">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of time that is required to teardown an event.  This time is considered above and 	beyond the event start and end times.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PostAsText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">or the posting name of the event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ExhibitBoothsQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of booths required.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="EventID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">a unique identifier for this event.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CateringEventsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">a collection of catering events</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Event" type="CateringEventType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContactsInfoType">
		<xs:sequence>
			<xs:element name="ContactInfo" type="ContactPersonType" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DatesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This element houses all the dates associated with this meeting.  The date classes contained within are Operational dates, Key Dates, and the actual meeting stay information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KeyDates" type="KeyDatesType" minOccurs="0"/>
			<xs:element name="StayInformation" type="StayInformationType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GuestroomsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This collection of Guestroom classes holds all the guest room block details for the meeting.  The attributes on the base collection class represent the aggregates across all days of the meeting.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Guestroom">
				<xs:annotation>
					<xs:documentation xml:lang="en">this represents detailed information about  particular guestroom inventory on a specific date.		</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attribute name="DateNumber" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">This number represents the actual day within the stay.  For example, if the number was 1 , this 		would indicate the guestroom block for the first day of the stay.  This is also optional if the actual date is specified in
							</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RoomTypeCode" type="StringLength1to16" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Code defining the room type specified for this meeting.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RoomTypeCodeContext" type="StringLength1to64" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Text name of the room specified for this meeting.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="OccupancyCode" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">Occupancy code for the guestrooms in this meeting.  (Single, Double, Triple, Quad, XChild, 	XAdult, 	Total)</xs:documentation>
						</xs:annotation>
						<xs:simpleType>
							<xs:restriction base="xs:NMTOKEN">
								<xs:enumeration value="Single"/>
								<xs:enumeration value="Double"/>
								<xs:enumeration value="Triple"/>
								<xs:enumeration value="Quad"/>
								<xs:enumeration value="XChild"/>
								<xs:enumeration value="XAdult"/>
								<xs:enumeration value="Total"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="AgreedQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">The number of guestrooms agreed to by the client and the property.  Commonly displayed on a 		contact.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="BlockQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">number of guestrooms blocked by the property.  This number is based on the agreed number 	and 	client history.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="PickUpQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Number of guestrooms that were actually utilized or "picked up" by the client.		</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="ForecastQuantity" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">ForecastQuantity a field where a user can define a subjective forecast for the number of 		guestrooms.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="RateAmount" type="xs:float">
						<xs:annotation>
							<xs:documentation xml:lang="en">Currency amount assigned to each of the rooms by type.  This number is expressed in a 		currency defined by the RoomsQuotedCurrencyCode. </xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="GuestNumber" type="xs:decimal">
						<xs:annotation>
							<xs:documentation xml:lang="en">Number of guests in the corresponding guestrooms, by date.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="StayDate" type="DateOrDateTimeType">
						<xs:annotation>
							<xs:documentation xml:lang="en">Date specific to a guestroom that is blocked.  This is optional if the sender specifies the 	DateNumber 	instead.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="TotalAgreedQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total agreed quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalBlockQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total blocked quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalPickUpQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total picked up quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalForecastQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total forcast quantity of guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="TotalGuestQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">Number of guests in the corresponding guestrooms for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AverageRateAmount" type="xs:float">
			<xs:annotation>
				<xs:documentation xml:lang="en">rate for the guestrooms for the entire meeting defined in the Rooms Quoted Currency code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PeakRoomsQuantity" type="xs:decimal">
			<xs:annotation>
				<xs:documentation xml:lang="en">The highest number or rooms, by night, for this booking.  If the pattern is 50/50/65/50 the peak rooms are 65.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoomsQuotedCurrencyCode" type="AlphaLength3">
			<xs:annotation>
				<xs:documentation xml:lang="en">The ISO standard code representing currency amounts.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="HotelType">
		<xs:sequence>
			<xs:element name="HotelRef">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="StringLength1to64">
							<xs:attributeGroup ref="CodeListGroup"/>
							<xs:attributeGroup ref="HotelReferenceGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContactsInfo" type="ContactsInfoType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="KeyDatesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Collection of KeyDate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="KeyDate" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A date and/or time in the following format "2000-05-21T00:00:00"</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="DateOrDateTimeType">
							<xs:attribute name="Code" use="required">
								<xs:annotation>
									<xs:documentation xml:lang="en">Code defining the usage of the KeyDate (DecisionDue | CutOff | DateBooked | 	HoldSpaceUntil 	| OfferIsValidUntil)</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="DecisionDue"/>
										<xs:enumeration value="CutOff"/>
										<xs:enumeration value="DateBooked"/>
										<xs:enumeration value="HoldSpaceUntil"/>
										<xs:enumeration value="OfferIsValidUntil"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MeetingProfileType">
		<xs:sequence>
			<xs:element name="Hotel" type="HotelType" minOccurs="0"/>
			<xs:element name="Dates" type="DatesType" minOccurs="0"/>
			<xs:element name="Events" type="CateringEventsType" minOccurs="0"/>
			<xs:element name="Guestrooms" type="GuestroomsType" minOccurs="0"/>
			<xs:element name="AccountDescriptiveContent" type="AccountDescriptiveContentType" minOccurs="0"/>
			<xs:element name="Organizations" type="OrganizationsType" minOccurs="0"/>
			<xs:element name="Revenues" type="RevenuesType" minOccurs="0"/>
			<xs:element name="Concessions" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Commission" type="CommissionType"/>
					</xs:sequence>
					<xs:attribute name="CompRooms" type="StringLength1to64"/>
					<xs:attribute name="CompRoomsPer" type="StringLength1to64"/>
					<xs:attribute name="TotalCompRooms" type="StringLength1to64"/>
					<xs:attribute name="Rebate" type="StringLength1to64"/>
					<xs:attribute name="RebatePer" type="StringLength1to64"/>
					<xs:attribute name="TotalRebate" type="StringLength1to64"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="RecipientResponse" type="RecipientResponseType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="MeetingID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Vendor specific unique Identifier</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MeetingProfileTypeCode">
			<xs:annotation>
				<xs:documentation xml:lang="en">Meeting Profile can be: RFP,Lead,Booking,FutureBooking, and History</xs:documentation>
			</xs:annotation>
			<xs:simpleType>
				<xs:restriction base="StringLength1to64">
					<xs:enumeration value="RFP"/>
					<xs:enumeration value="Lead"/>
					<xs:enumeration value="Booking"/>
					<xs:enumeration value="FutureBooking"/>
					<xs:enumeration value="History"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attribute name="MeetingAbbrevText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Booking Code</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MeetingControlID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Booking Control ID</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReservationID" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">This may be an ID assigned by a PMS system.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="PostAsText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Name or the posting name of the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ReservationTypeCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">This code describes the type of reservation used when creating this meeting (code values are TBD )</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MarketSegmentCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The code of the market segment that the meeting belongs to (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StatusCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code describing the status of the booking.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ContractTypeCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">Code describing the type of contract employed in creating the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StatusReasonText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">A free form text field to describe the disposition of the status for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="GuestQuantity" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Total amount of guests attending the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="SpecialRequestText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Free form text to communicate any special requests for the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="CommentText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Free form text to communicate additional information about the meeting.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="MeetingTypeCode" type="StringLength1to16"/>
		<xs:attribute name="Materialization" type="StringLength1to64"/>
	</xs:complexType>
	<xs:complexType name="OrganizationsType">
		<xs:annotation>
			<xs:documentation xml:lang="en">A collection of  Organization</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Organization" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">These are related organizations such as agencies, vendors, and supliers</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Addresses" type="AddressesType" minOccurs="0"/>
						<xs:element name="ContactsInfo" type="ContactsInfoType" minOccurs="0"/>
						<xs:element name="CompanyName" type="CompanyNameType" minOccurs="0"/>
						<xs:element name="URL" type="URL_Type" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="UsageCode" type="StringLength1to16" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">A code that describes the contextual relationship of this address.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
					<xs:attribute name="UsageCodeContextText" type="StringLength1to64" use="required">
						<xs:annotation>
							<xs:documentation xml:lang="en">A code that describes the contextual relationship of this organization.</xs:documentation>
						</xs:annotation>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecipientResponseType">
		<xs:annotation>
			<xs:documentation xml:lang="en">Response generated after receiving an RFP.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Dates" type="DatesType" minOccurs="0"/>
			<xs:element name="Commission" type="CommissionType" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="StatusCode" type="StringLength1to16">
			<xs:annotation>
				<xs:documentation xml:lang="en">The status code of the recipient response defines the acceptance or rejection of the Lead (code values are TBD).</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="StatusReasonText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">The recipient responders reason for choosing a particular status code.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ResponseExplanationText" type="StringLength1to64">
			<xs:annotation>
				<xs:documentation xml:lang="en">Text field providing additional information about the status reason.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="RevenuesType">
		<xs:annotation>
			<xs:documentation xml:lang="en">collection of revenues</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Revenue" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation xml:lang="en">A revenue amount, denominated in the defined currency.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:attributeGroup ref="CurrencyAmountGroup"/>
					<xs:attribute name="RevCode" type="StringLength1to16" use="required"/>
					<xs:attribute name="RevTypeCode" type="StringLength1to16" use="required"/>
					<xs:attribute name="RevCategoryCode" type="StringLength1to16"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="StayInformationType">
		<xs:annotation>
			<xs:documentation xml:lang="en">This element describes the beginning, ending, and duration of a stay in units of time.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArrivalInfo" minOccurs="0">
				<xs:complexType>
					<xs:attributeGroup ref="ArrivalInfoGroup"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="AlternateDates" type="AlternateDatesType" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
