hyperjaxb/ejb/tests/ota/src/main/resources/_2008A_XML/OTA_CruiseCabinHoldRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="2.003" id="OTA2008A">
	<xs:include schemaLocation="OTA_CruiseCommonTypes.xsd"/>
	
	
	
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA 
specification are made available according to the terms defined by the OTA 
License Agreement at 
http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_CruiseCabinHoldRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">
The Cabin Hold Request message requests up to four cabins to be held on up to three sailings specific Mode of Transportation/GatewayCity pair and currency and for a selected fare/category pair. Optional request information can include:
- Guest city
- Inclusive package
</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of sale 
object.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="GuestCounts" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Specifies guest quantity and guest types.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="GuestCount" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation xml:lang="en">Categorization of all guests in the request.  The total number of guests will equal the sum of the Quantity attribute of all GuestCount objects in this collection and assumes that the Guest Age or the Guest Code will be used to determine how each Guest should be fared.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="TravelerCountGroup"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SelectedSailing" maxOccurs="3">
					<xs:annotation>
						<xs:documentation xml:lang="en">Contains information related to the selected sailing. Typically the selected sailing is one of the sailings returned in the previous sailing availability response. </xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SelectedFare" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the fare code and the group code if any. Fare codes are specific to cruise lines.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="FareGroup"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="SelectedCategory">
								<xs:annotation>
									<xs:documentation xml:lang="en">Specifies the selected category to search for cabins.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SelectedCabin" maxOccurs="4">
											<xs:annotation>
												<xs:documentation xml:lang="en">Specifies the selected Cabins</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:attributeGroup ref="CruiseCabinGroup"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attributeGroup ref="CruiseCategoryDetailGroup"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="InclusivePackageOption" minOccurs="0">
								<xs:annotation>
									<xs:documentation xml:lang="en">Allows to query for package options that the cruise might offer with the sailing. Usually the request will query for  packages that are included in the cruise sailing offering (inclusive packages).</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:attributeGroup ref="CruisePackageGroup"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attributeGroup ref="SelectedSailingGroup"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Guest" type="GuestType" minOccurs="0" maxOccurs="9">
					<xs:annotation>
						<xs:documentation xml:lang="en">Selected guest mode of transportation available for current sailing and current fares.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Currency" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Currency in which the fare will be returned.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attributeGroup ref="CurrencyCodeGroup"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="SearchQualifiers" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">In this message Past Passenger Number and Residency can used to hold the Cabin.
NOTE: Other Fields may not be used in this message
</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="SearchQualifierType">
								<xs:attributeGroup ref="DeckGroup">
									<xs:annotation>
										<xs:documentation xml:lang="en">Provides the ability to search on deck number or name.</xs:documentation>
									</xs:annotation>
								</xs:attributeGroup>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
				<xs:element ref="TPA_Extensions" minOccurs="0"/>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes">
				<xs:annotation>
					<xs:documentation xml:lang="en">The standard attributes that appear on the root element for all OTA payloads. </xs:documentation>
				</xs:annotation>
			</xs:attributeGroup>
		</xs:complexType>
	</xs:element>
</xs:schema>
