hyperjaxb/ejb/tests/ota/src/main/resources/_2008A_XML/OTA_InsuranceQuoteRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.010" id="OTA2008A">
	<xs:include schemaLocation="OTA_InsuranceCommonTypes.xsd"/>
	<xs:annotation>
		<xs:documentation xml:lang="en">All Schema files in the OTA specification are made available according to the terms defined by the OTA License Agreement at http://www.opentravel.org/ota_downloads_form.cfm</xs:documentation>
	</xs:annotation>
	<xs:element name="OTA_InsuranceQuoteRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">Container for insurance quote requests</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type" minOccurs="0">
					<xs:annotation>
						<xs:documentation xml:lang="en">Container for any Point-of-sale information.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PlanForQuoteRQ" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation xml:lang="en">Requests a quote for a single insurance plan</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:complexContent>
							<xs:extension base="InsCoverageType">
								<xs:sequence>
									<xs:element name="InsuranceCustomer" type="InsuranceCustomerType" minOccurs="0"/>
								</xs:sequence>
							</xs:extension>
						</xs:complexContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
