hyperjaxb/ejb/tests/ota/src/main/resources/_2008A_XML/OTA_PkgExtrasInfoRQ.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.opentravel.org/OTA/2003/05" targetNamespace="http://www.opentravel.org/OTA/2003/05" elementFormDefault="qualified" version="1.006" id="OTA2008A">	<xs:include schemaLocation="OTA_PkgCommonTypes.xsd"/>	<xs:element name="OTA_PkgExtrasInfoRQ">		<xs:annotation>			<xs:documentation xml:lang="en">A request for a details of the extras available with a package, optionally modified by the profile of the passengers.</xs:documentation>		</xs:annotation>		<xs:complexType>			<xs:sequence>				<xs:element name="POS" type="POS_Type" minOccurs="0">					<xs:annotation>						<xs:documentation xml:lang="en">Point of sale object</xs:documentation>					</xs:annotation>				</xs:element>				<xs:element name="PackageRequest" type="PackageType">					<xs:annotation>						<xs:documentation xml:lang="en">Contains the codes and itinerary items identifying the package</xs:documentation>					</xs:annotation>				</xs:element>				<xs:element name="PassengerListItems" minOccurs="0">					<xs:annotation>						<xs:documentation xml:lang="en">Details of all passengers or of quantities by type</xs:documentation>					</xs:annotation>					<xs:complexType>						<xs:sequence>							<xs:element name="PassengerListItem" type="PkgPassengerListItem" maxOccurs="99">								<xs:annotation>									<xs:documentation xml:lang="en">Details of a passenger or of a quantity of generic passengers e.g. 2 children aged 5.   When used in this way, Age is essential for children but may be omitted for adults.</xs:documentation>								</xs:annotation>							</xs:element>						</xs:sequence>					</xs:complexType>				</xs:element>				<xs:element ref="TPA_Extensions" minOccurs="0"/>			</xs:sequence>			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>		</xs:complexType>	</xs:element></xs:schema>