maven-plugin/tests/JAXB-1044/src/main/resources/b.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
	xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="urn:b" elementFormDefault="qualified"
	xmlns:b="urn:b">

	<element name="b" type="b:BType"/>
	<complexType name="BType">
		<sequence>
			<element name="s" type="string"/>
		</sequence>
	</complexType>
</schema>
