maven-plugin/tests/MAVEN_JAXB2_PLUGIN-79/a/src/main/resources/a.xsd

<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="a"
	xmlns:a="a"
	elementFormDefault="qualified">

	<xsd:element name="a" type="a:AType"/>

	<xsd:complexType name="AType">
		<xsd:sequence>
			<xsd:element name="a" type="a:A1Type"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="A1Type">
		<xsd:sequence>
			<xsd:element name="a1" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="A2EnumType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ABC" />
			<xsd:enumeration value="DEF" />
			<xsd:enumeration value="GHI" />
		</xsd:restriction>
	</xsd:simpleType>


</xsd:schema>
